<base-showcase component="ddr-input" type="component" [showTemplates]="true" [showCodeCSS]="true" [showStyles]="true">
  
  <div description>
    <p>{{'input.description' | ddrTranslate}}</p>
  </div>

  <div examples>

<div class="row">
  <div class="col-12">
    <span class="h3">{{'input.example.1' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-input 
      [label]="'input.label' | ddrTranslate" 
      [placeholder]="'input.placeholder' | ddrTranslate" 
      type="text"
      name="example-1" 
      [(ngModel)]="valueEx1" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span>{{'input.value' | ddrTranslate}}: {{valueEx1}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'input.example.2' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-input 
      [label]="'input.label' | ddrTranslate" 
      [placeholder]="'input.placeholder' | ddrTranslate" 
      type="text" 
      name="example-2" 
      [inline]="true" />
  </div>
</div>

<div class="row mt-2">
  <div class="col-12">
    <span class="h3">{{'input.example.3' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-input 
      [label]="'input.label' | ddrTranslate" 
      [placeholder]="'input.placeholder' | ddrTranslate" 
      type="text" 
      name="example-3" 
      [required]="true" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'input.example.4' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-input 
      [label]="'input.label' | ddrTranslate" 
      [placeholder]="'input.placeholder' | ddrTranslate" 
      type="text" 
      name="example-4" 
      [border]="false">
    </ddr-input>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'input.example.5' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-input 
      [label]="'input.label' | ddrTranslate" 
      [placeholder]="'input.placeholder' | ddrTranslate" 
      type="email" 
      name="example-5" 
      [required]="true" 
      [validate]="true"
      [minlength]="5" >

      <ng-template #templateValid>
        <span>{{'input.ok' | ddrTranslate}}</span>
      </ng-template>

      <ng-template #templateErrors let-errors="errors">
        @if(errors?.required){
          <span>{{'input.value.required' | ddrTranslate}}</span>
        }
        @if(errors?.minlength){
          <span class="me-2">{{'input.minlength.required' | ddrTranslate}} {{ errors?.minlength.requiredLength }}</span>
          <span>{{'input.minlength.actual' | ddrTranslate}} {{ errors?.minlength?.actualLength }}</span>
        }
      </ng-template>
    </ddr-input>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'input.example.6' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-input 
      [label]="'input.label' | ddrTranslate" 
      [placeholder]="'input.placeholder' | ddrTranslate" 
      type="text" 
      name="example-6" 
      [required]="true" 
      [inline]="true"
      [validate]="true" 
      [minlength]="5" >

      <ng-template #templateValid>
        <span>{{'input.ok' | ddrTranslate}}</span>
      </ng-template>

      <ng-template #templateErrors let-errors="errors">
        @if(errors?.required){
          <span>{{'input.value.required' | ddrTranslate}}</span>
        }
        @if(errors?.minlength){
          <span class="me-2">{{'input.minlength.required' | ddrTranslate}} {{ errors?.minlength.requiredLength }}</span>
          <span>{{'input.minlength.actual' | ddrTranslate}} {{ errors?.minlength?.actualLength }}</span>
        }
      </ng-template>
    </ddr-input>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'input.example.7' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-input 
      [label]="'input.label' | ddrTranslate" 
      [placeholder]="'input.placeholder' | ddrTranslate" 
      type="text" 
      name="example-7" 
      [disabled]="true"
      [(ngModel)]="valueEx7" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'input.example.8' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-input 
      [label]="'input.label' | ddrTranslate" 
      [placeholder]="'input.placeholder' | ddrTranslate" 
      type="text" 
      name="example-8" 
      [readonly]="true"
      [(ngModel)]="valueEx8" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-input 
      [label]="'input.label' | ddrTranslate" 
      [placeholder]="'input.placeholder.number' | ddrTranslate" 
      type="number" 
      name="example-9"
      [min]="0" 
      [max]="10"
      [(ngModel)]="valueEx9" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <p>{{'input.value' | ddrTranslate }}: {{valueEx9}}</p>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-input 
      [label]="'input.label' | ddrTranslate" 
      [placeholder]="'input.placeholder' | ddrTranslate" 
      [labelBold]="true" 
      type="text" 
      name="example-10" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'input.example.11' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-input 
      [label]="'input.label' | ddrTranslate" 
      [placeholder]="'input.placeholder' | ddrTranslate" 
      [tooltipText]="'input.tooltip' | ddrTranslate" 
      type="text" 
      name="example-11" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'input.example.12' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-input 
      [label]="'input.label' | ddrTranslate" 
      [placeholder]="'input.placeholder' | ddrTranslate"
      type="text" 
      name="example-12"
      (clickInput)="clickInput($event)"
      (keyPressed)="keyPressed($event)" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'input.example.13' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-input 
      [label]="'small' | ddrTranslate" 
      [placeholder]="'input.placeholder' | ddrTranslate" 
      size="small"
      type="text" 
      name="example-13-small" />
    <ddr-input 
      [label]="'medium' | ddrTranslate" 
      [placeholder]="'input.placeholder' | ddrTranslate" 
      size="medium"
      type="text" 
      name="example-13-medium" />
    <ddr-input 
      [label]="'large' | ddrTranslate" 
      [placeholder]="'input.placeholder' | ddrTranslate" 
      size="large"
      type="text" 
      name="example-13-large" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'input.example.14' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-button 
      text="input.focus"
      (action)="focusInput()" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-input 
      [label]="'input.label' | ddrTranslate" 
      [placeholder]="'input.placeholder' | ddrTranslate"
      [focus]="focusEx14"
      type="text" 
      name="example-14"
      (focusLost)="onFocusLost()" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'input.example.15' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12 background-test-transparent">
    <ddr-input 
      [label]="'input.label' | ddrTranslate" 
      [placeholder]="'input.placeholder' | ddrTranslate"
      [transparent]="true"
      [border]="true"
      type="text" 
      name="example-15" />
  </div>
</div>

  </div>

</base-showcase>
