<base-showcase 
  component="ddr-input" 
  type="component" 
  [documentation]="documentation" 
  [showTemplates]="true" 
  [showInputsOutputs]="true"
  [showStyles]="true">

  <div description>
    <p>{{'input.description' | ddrTranslate}}</p>
  </div>

  <ng-template #example>
    <input-showcase-1 />
  </ng-template>

  <ng-template #example>
    <input-showcase-2 />
  </ng-template>

  <ng-template #example>
    <input-showcase-3 />
  </ng-template>

  <ng-template #example>
    <input-showcase-4 />
  </ng-template>

  <ng-template #example>
    <input-showcase-5 />
  </ng-template>

  <ng-template #example>
    <input-showcase-6 />
  </ng-template>

  <ng-template #example>
    <input-showcase-7 />
  </ng-template>

  <ng-template #example>
    <input-showcase-8 />
  </ng-template>

  <ng-template #example>
    <input-showcase-9 />
  </ng-template>

  <ng-template #example>
    <input-showcase-10 />
  </ng-template>

  <ng-template #example>
    <input-showcase-11 />
  </ng-template>

  <ng-template #example>
    <input-showcase-12 />
  </ng-template>

  <ng-template #example>
    <input-showcase-13 />
  </ng-template>

  <ng-template #example>
    <input-showcase-14 />
  </ng-template>

  <ng-template #example>
    <input-showcase-15 />
  </ng-template>

  <ng-template #example>
    <input-showcase-16 />
  </ng-template>

  <ng-template #example>
    <input-showcase-17 />
  </ng-template>

  <ng-template #example>
    <input-showcase-18 />
  </ng-template>

  <ng-template #example>
    <input-showcase-19 />
  </ng-template>

  <ng-template #example>
    <input-showcase-20 />
  </ng-template>

  <ng-template #example>
    <input-showcase-21 />
  </ng-template>

  <ng-template #example>
    <input-showcase-22 />
  </ng-template>

  <ng-template #example>
    <input-showcase-23 />
  </ng-template>

</base-showcase>