<ddr-login 
    [labelUsername]="'login.component.username' | ddrTranslate"
    [labelPlaceholderUsername]="'login.component.placeholder.username' | ddrTranslate"
    [labelPassword]="'login.component.password' | ddrTranslate"
    [labelPlaceholderPassword]="'login.component.placeholder.password' | ddrTranslate"
    [labelSubmit]="'login.component.submit' | ddrTranslate"
    [labelCreateUser]="'login.component.create.user' | ddrTranslate"
    [showCreateUser]="true"
    (doLogin)="login($event)"
    (registerUser)="registerUser()" />