<base-showcase 
  component="ddr-button" 
  type="component" 
  [documentation]="documentation"
  [showStyles]="true">

  <div description>
    <p>{{'button.description' | ddrTranslate}}</p>
  </div>

  <ng-template #example>
    <button-showcase-1 />
  </ng-template>
  
  <ng-template #example>
    <button-showcase-2 />
  </ng-template>
  
  <ng-template #example>
    <button-showcase-3 />
  </ng-template>
  
  <ng-template #example>
    <button-showcase-4 />
  </ng-template>

  <ng-template #example>
    <button-showcase-5 />
  </ng-template>

  <ng-template #example>
    <button-showcase-6 />
  </ng-template>

  <ng-template #example>
    <button-showcase-7 />
  </ng-template>

  <ng-template #example>
    <button-showcase-8 />
  </ng-template>

  <ng-template #example>
    <button-showcase-9 />
  </ng-template>

  <ng-template #example>
    <button-showcase-10 />
  </ng-template>

  <ng-template #example>
    <button-showcase-11 />
  </ng-template>

  <ng-template #example>
    <button-showcase-12 />
  </ng-template>

</base-showcase>
