<div class="row mb-5">
    <div class="col-12">

        <ddr-card [showHeader]="false">
            <div card-content>
                        
                <div class="row mt-3">
                    <div class="col-12">
                        <span class="h2">&#123;&#123;'get.started.p1' | ddrTranslate&#125;&#125;</span>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12">
                        <span>&#123;&#123;'get.started.p2' | ddrTranslate&#125;&#125;</span>
                    </div>
                </div>
                
                <div class="row mt-3">
                    <div class="col-12">
                        <span class="h2">&#123;&#123;'get.started.p3' | ddrTranslate&#125;&#125;</span>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12">
                        <span>&#123;&#123;'get.started.p4' | ddrTranslate&#125;&#125;</span>
                        <pre class="language-bash"><code class="language-bash">npm install ddr-ng</code></pre>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 text-end">
                        <ddr-button 
                            text="get.started.copy" 
                            icon="bi bi-copy" 
                            size="medium"
                            ddrClipboard 
                            clipboard="npm install ddr-ng"
                            (action)="copyText()" />
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12">
                        <span class="h2">&#123;&#123;'get.started.p5' | ddrTranslate&#125;&#125;</span>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12">
                        <span>&#123;&#123;'get.started.p6' | ddrTranslate&#125;&#125;</span>

                            <pre class="language-typescript"><code class="language-typescript">"styles": [
  "node_modules/ddr-ng/resources/themes/ddr-blue.scss",
  "node_modules/bootstrap/dist/css/bootstrap.min.css",
  "node_modules/bootstrap-icons/font/bootstrap-icons.css",
  "src/styles.scss"
]</code></pre>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 text-end">
                        <ddr-button 
                            text="get.started.copy" 
                            icon="bi bi-copy" 
                            size="medium"
                            ddrClipboard 
                            [clipboard]="stylesEx1"
                            (action)="copyText()" />
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12">
                        <span>&#123;&#123;'get.started.p7' | ddrTranslate&#125;&#125;</span>
                                <pre class="language-typescript"><code class="language-typescript">"styles": [
  "node_modules/ddr-ng/resources/themes/ddr-blue.scss",
  "node_modules/ddr-ng/resources/themes/ddr-dark.scss",
  "node_modules/ddr-ng/resources/themes/ddr-purple.scss",
  "node_modules/bootstrap/dist/css/bootstrap.min.css",
  "node_modules/bootstrap-icons/font/bootstrap-icons.css",
  "src/styles.scss"
]</code></pre>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 text-end">
                        <ddr-button 
                            text="get.started.copy" 
                            icon="bi bi-copy" 
                            size="medium"
                            ddrClipboard 
                            [clipboard]="stylesEx2"
                            (action)="copyText()" />
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12">
                        <span>&#123;&#123;'get.started.p8' | ddrTranslate&#125;&#125;</span>
                        <pre class="language-html"><code class="language-html"><p>&lt;body class="ddr-blue"&gt;&lt;/body&gt;</p></code></pre>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 text-end">
                        <ddr-button 
                            text="get.started.copy" 
                            icon="bi bi-copy" 
                            size="medium"
                            ddrClipboard 
                            [clipboard]="stylesEx3"
                            (action)="copyText()" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <span>&#123;&#123;'get.started.p9' | ddrTranslate&#125;&#125;</span>
                    </div>
                </div>

                                <div class="row">
                    <div class="col-12">
                        <pre class="language-typescript"><code class="language-typescript">import &#123; ApplicationConfig, provideBrowserGlobalErrorListeners, provideZoneChangeDetection &#125; from '&#64;angular/core';
import &#123; provideRouter &#125; from '&#64;angular/router';

import &#123; routes &#125; from './app.routes';
import &#123; provideHttpClient &#125; from '&#64;angular/common/http';

export const appConfig: ApplicationConfig = &#123;
  providers: [
    provideBrowserGlobalErrorListeners(),
    provideHttpClient(), // add this
    provideAnimations(), // add this
    provideZoneChangeDetection(&#123; eventCoalescing: true &#125;),
    provideRouter(routes)
  ]
&#125;;</code></pre>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12">
                        <span>&#123;&#123;'get.started.p10' | ddrTranslate&#125;&#125;</span>
                    </div>
                </div>

            </div>
        </ddr-card>


    </div>
</div>