<base-showcase component="ddrTranslate" type="service" [showInputs]="false" [showOutputs]="false">

  <div description>
    <p>{{'translate.description' | ddrTranslate}}</p>
  </div>

  <div examples>

<div class="row">
  <div class="col-12">
    <span class="h3">{{'translate.example.1' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-button 
        text="translate.example" 
        (action)="showToast()" />
  </div>
</div>

  </div>

</base-showcase>