<div class="row ddr-steps">
  <div class="col-12">
    <!-- Horizontal -->
    @if (!vertical()) {
      <div class="ddr-steps__horizontal">
        @for (step of steps(); track step) {
          <div class="ddr-steps__horizontal__info-step" 
            [class.ddr-steps__horizontal__info-step--hover]="canJump()"
            [class.cursor-default]="!canJump()" 
            (click)="goToStep(step)">
            <div class="ddr-steps__horizontal__info-step__number-step" 
              [class.ddr-steps__horizontal__info-step__number-step--open]="step.open()"
              [class.ddr-steps__horizontal__info-step__number-step--closed]="!step.open()">
              @if (!validateIcon() || (validateIcon() && step.canGoNext() == false)) {
                <span>{{step.step()}}</span>
              }
              @if (validateIcon() && step.canGoNext()) {
                <span>
                  <i class="bi bi-check"></i>
                </span>
              }
            </div>
            <div class="ddr-steps__horizontal__info-step__title-step">
              <span>{{step.titleStep()}}</span>
            </div>
          </div>
          @if (!step.lastStep()) {
            <div class="ddr-steps__horizontal__line"></div>
          }
        }
      </div>
      <div class="ddr-steps__template ms-5 me-2">
        @for (step of steps(); track step) {
          @if (step.open()) {
            <div class="ddr-steps__template__content">
              <ng-container [ngTemplateOutlet]="step.stepContentTemplate()"/>
            </div>
            @if (showButtons() && !openAll() && !step.firstStep()) {
              <ddr-button class="me-1 mt-1 mb-1"
                [size]="sizeButtons()"
                [text]="labelPrevious() || ('previous' | ddrTranslate)"
                (action)="previous(step)" />
            }
            @if (showButtons() && !openAll() && !step.lastStep()) {
              <ddr-button class="me-1 mt-1 mb-1"
                [size]="sizeButtons()"
                [disabled]="!step.canGoNext()"
                [text]="labelNext() || ('next' | ddrTranslate)"
                (action)="next(step)" />
            }
            @if(showButtons() && submitButton() && step.lastStep()){
              <ddr-button
                class="me-1 mt-1 mb-1"
                type="submit"
                [size]="sizeButtons()"
                [icon]="submitButton()?.icon || ''"
                [disabled]="submitButton()?.disabled || false"
                [text]="submitButton()?.text || ('submit' | ddrTranslate)" />
            }
          }
        }
      </div>
    }
    <!-- Vertical -->
    @if (vertical()) {
      @for (step of steps(); track step) {
        <div class="row ddr-steps__vertical__info-step" 
          [class.ddr-steps__vertical__info-step--hover]="canJump()"
          [class.cursor-default]="!canJump()"
          (click)="goToStep(step)">
          <div class="col-12">
            <div class="ddr-steps__vertical__info-step__number-step" 
              [class.ddr-steps__vertical__info-step__number-step--open]="step.open()"
              [class.ddr-steps__vertical__info-step__number-step--closed]="!step.open()">
              @if (!validateIcon() || (validateIcon() && !step.canGoNext())) {
                <span>{{step.step()}}</span>
              }
              @if (validateIcon() && step.canGoNext()) {
                <span>
                  <i class="bi bi-check"></i>
                </span>
              }
            </div>
            <div class="ddr-steps__vertical__info-step__title-step">
              <span>{{step.titleStep()}}</span>
            </div>
          </div>
        </div>
        <div class="ddr-steps__template" [class.ddr-steps__template--line]="!step.lastStep()">
          @if (step.open()) {
            <div class="ddr-steps__template__content ps-4 pe-4">
              @if(step.stepContentTemplate()){
                <ng-container [ngTemplateOutlet]="step.stepContentTemplate()"/>
              }
            </div>
            @if (showButtons() && !openAll() && !step.firstStep()) {
              <ddr-button
                class="d-inline-block ms-4 me-1 mt-1 mb-3"
                [size]="sizeButtons()"
                [text]="labelPrevious() || ('previous' | ddrTranslate)"
                (action)="previous(step)" />
            }
            @if (showButtons() && !openAll() && !step.lastStep()) {
              <ddr-button
                class="d-inline-block me-1 mt-1 mb-3"
                [class.ms-4]="step.firstStep()"
                [size]="sizeButtons()"
                [disabled]="!step.canGoNext()"
                [text]="labelNext() || ('next' | ddrTranslate)"
                (action)="next(step)" />
            }
            @if(showButtons() && submitButton() && step.lastStep()){
              <ddr-button
                class="d-inline-block me-1 mt-1 mb-3"
                type="submit"
                [size]="sizeButtons()"
                [icon]="submitButton()?.icon || ''"
                [disabled]="submitButton()?.disabled || false"
                [text]="submitButton()?.text || ('submit' | ddrTranslate)" />
            }
          }
        </div>
      }
    }
  </div>
</div>