.ddr-accordion {
  margin-bottom: 10px;
  border-radius: 4px;

  &--shadow {
    -webkit-box-shadow: 2px 2px 2px 1px rgba(192, 192, 192, 0.75);
    -moz-box-shadow: 2px 2px 2px 1px rgba(192, 192, 192, 0.75);
    box-shadow: 2px 2px 2px 1px rgba(192, 192, 192, 0.75);
  }

  &__title {
    border-radius: 4px;
    user-select: none;
    padding: 20px;

    &--slim {
      padding: 5px 10px;
    }

    &--text {
      font-size: 24px;
    }

    &--icon {
      font-size: 22px;
      margin-right: 10px;
      margin-top: 10px;
    }

    &--is-opened {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    &--is-closed {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

  &__content {

    padding: 20px;

    &--is-opened {
      border-top: none !important;
      border-radius: 4px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      overflow: inherit;
    }

    &--slim {
      padding: 5px 10px;
    }

    &--is-closed {
      padding: 0px;
      border: none !important;
      overflow: hidden;
    }
  }
}