<span
  [class]="'ddr-badge badge badge-pill ' + customClass"
  [ngStyle]="{'background-color': background ? background : null}"
  [ngClass]="{
    'ddr-badge--clickable': canClick,
    'ddr-badge--info': type === constants.BADGE.INFO,
    'ddr-badge--danger': type === constants.BADGE.DANGER,
    'ddr-badge--warning': type === constants.BADGE.WARNING,
    'ddr-badge--success': type === constants.BADGE.SUCCESS,
    'ddr-badge--xs-small': size === constants.SIZE.EXTRA_SMALL,
    'ddr-badge--small': size === constants.SIZE.SMALL,
    'ddr-badge--medium': size === constants.SIZE.MEDIUM,
    'ddr-badge--large': size === constants.SIZE.LARGE
  }"
  (click)="onclickBadge($event)">
 
  <ng-template [ngTemplateOutlet]="template ? template : templateDefault"></ng-template>
  <ng-template #templateDefault>
    <span>{{text}}</span>
  </ng-template>
  
</span>
