.ddr-tabs{
    &__title {
        text-align: center;
        font-size: 18px;
        padding: 15px;
        display: inline-block;
        user-select: none;
    }

    &__content {
        padding: 10px;
    }
}
