<base-showcase component="ddrSpinnerService" type="service" [showInputs]="false" [showOutputs]="false" [showStyles]="true">

  <div description>
    <p>{{'spinner.description' | ddrTranslate}}</p>
  </div>

<div examples>

<div class="row">
  <div class="col-12">
    <span class="h3">{{'spinner.example.1' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-button 
      text="spinner.show"
      (action)="showSpinner()"  />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'spinner.example.2' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-button 
      text="spinner.show"
      (action)="showSpinnerImg()"  />
  </div>
</div>

</div>

</base-showcase>
