<base-showcase component="ddr-modal" type="component"  [showSlots]="true" [showService]="true" [showStyles]="true">
  
  <div description>
    <p>{{'modal.description' | ddrTranslate}}</p>
  </div>

  <div examples>

<div class="row mt-3">
  <div class="col-12">
    <p>{{'modal.size' | ddrTranslate}}:</p>
    <ddr-button-multiple
      [buttons]="buttonsSize"
      [showSelectedButton]="true"
      [(ngModel)]="size" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <p>{{'modal.size.button' | ddrTranslate}}:</p>
    <ddr-button-multiple
      [buttons]="buttonsSizeButton"
      [showSelectedButton]="true"
      [(ngModel)]="sizeButton" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <p>{{'modal.type' | ddrTranslate}}:</p>
    <ddr-button-multiple
      [buttons]="buttonsType"
      [showSelectedButton]="true"
      [(ngModel)]="type" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <p>clickOutside:</p>
    <ddr-toggle
      size="small"
      [(ngModel)]="clickOutsideEnabled" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-button
      [text]="'modal.open' | ddrTranslate"
      size="medium"
      (action)="openModal()" />
  </div>
</div>

<ddr-modal
  id="modal-example"
  [type]="type"
  [labelConfirm]="'modal.confirm' | ddrTranslate"
  [labelClose]="'modal.close' | ddrTranslate"
  [size]="size"
  [sizeButton]="sizeButton"
  [clickOutsideEnabled]="clickOutsideEnabled"
  (close)="closeModal()"
  (accept)="closeModal()"
  (clickOutside)="clickOutside($event)">
  <span class="h1" modal-title>Lorem</span>

  <span modal-content>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis
    reiciendis, recusandae enim, accusamus illo dicta obcaecati, nam ab
    voluptatum asperiores tenetur error. Similique doloribus at possimus
    fuga excepturi veritatis distinctio!
  </span>
</ddr-modal>

  </div>

</base-showcase>
