<base-showcase 
  component="ddr-modal" 
  type="component" 
  [documentation]="documentation" 
  [showSlots]="true" 
  [showService]="true" 
  [showStyles]="true">
  
  <div description>
    <p>{{'modal.description' | ddrTranslate}}</p>
  </div>

  <ng-template #example>
    <modal-showcase-1 />
  </ng-template>

  <ng-template #example>
    <modal-showcase-2 />
  </ng-template>
  
  <ng-template #example>
    <modal-showcase-3 />
  </ng-template>

  <ng-template #example>
    <modal-showcase-4 />
  </ng-template>

</base-showcase>
