<base-showcase component="ddr-input-file" type="component"  [showClasses]="true" [showStyles]="true">

    <div description>
        <p>{{'input.file.description' | ddrTranslate}}</p>
    </div>

    <div examples>

<div class="row">
    <div class="col-12">
        <span class="h3">{{'input.file.example.1' | ddrTranslate}}</span>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <ddr-input-file 
            [label]="'input.file' | ddrTranslate"
            name="example-1"
            (fileSelected)="fileSelected($event)" />
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <span class="h3">{{'input.file.example.2' | ddrTranslate}}</span>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <ddr-input-file 
            [label]="'input.file' | ddrTranslate"
            name="example-2"
            [multiple]="true"
            (filesSelected)="filesSelected($event)" />
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <span class="h3">{{'input.file.example.3' | ddrTranslate}}</span>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <ddr-input-file 
            [label]="'input.file' | ddrTranslate"
            name="example-3"
            accept=".pdf, .txt"
            (fileSelected)="fileSelected($event)" />
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <span class="h3">{{'input.file.example.4' | ddrTranslate}}</span>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <ddr-input-file 
            [label]="'input.file' | ddrTranslate"
            name="example-4"
            [disabled]="true"
            (fileSelected)="fileSelected($event)" />
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <span class="h3">{{'input.file.example.5' | ddrTranslate}}</span>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <ddr-input-file 
            [label]="'input.file' | ddrTranslate"
            name="example-5"
            [inline]="true"
            (fileSelected)="fileSelected($event)" />
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <span class="h3">{{'input.file.example.6' | ddrTranslate}}</span>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <ddr-input-file 
            [label]="'input.file' | ddrTranslate"
            name="example-6"
            [tooltipText]="'input.file.tooltip' | ddrTranslate"
            (fileSelected)="fileSelected($event)" />
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <span class="h3">{{'input.file.example.7' | ddrTranslate}}</span>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <ddr-input-file 
            [label]="'input.file' | ddrTranslate"
            name="example-7"
            [labelBold]="true"
            (fileSelected)="fileSelected($event)" />
    </div>
</div>

    </div>
</base-showcase>