<base-showcase 
    component="ddr-input-file" 
    type="component" 
    [documentation]="documentation" 
    [showInputsOutputs]="true"
    [showStyles]="true">

    <div description>
        <p>{{'input.file.description' | ddrTranslate}}</p>
    </div>

    <ng-template #example>
        <input-file-showcase-1 />
    </ng-template>

    <ng-template #example>
        <input-file-showcase-2 />
    </ng-template>

    <ng-template #example>
        <input-file-showcase-3 />
    </ng-template>

    <ng-template #example>
        <input-file-showcase-4 />
    </ng-template>

    <ng-template #example>
        <input-file-showcase-5 />
    </ng-template>

    <ng-template #example>
        <input-file-showcase-6 />
    </ng-template>
  
    <ng-template #example>
        <input-file-showcase-7 />
    </ng-template>
      
    <ng-template #example>
        <input-file-showcase-8 />
    </ng-template>

    <ng-template #example>
        <input-file-showcase-9 />
    </ng-template>

    <ng-template #example>
        <input-file-showcase-10 />
    </ng-template>

    <ng-template #example>
        <input-file-showcase-11 />
    </ng-template>

</base-showcase>