@font-face {
    font-family: 'ddr black';
    src: url('./fonts/Cairo-Black.woff')
}
  
@font-face {
    font-family: 'ddr';
    src: url('./fonts/Cairo-Regular.woff')
}

@font-face {
    font-family: 'ddr bold';
    src: url('./fonts/Cairo-Bold.woff')
}

@font-face {
    font-family: 'ddr extralight';
    src: url('./fonts/Cairo-ExtraLight.woff')
}

@font-face {
    font-family: 'ddr semibold';
    src: url('./fonts/Cairo-SemiBold.woff')
}

@font-face {
    font-family: 'ddr light';
    src: url('./fonts/Cairo-Light.woff')
}
