.ddr-table {
    caret-color: transparent;

    &__table {
        width: 100%;
        margin: auto;

        &--header-row {
            &--checkbox {
                vertical-align: middle;
                padding: 5px;
            }
        }

        &--header-cell {
            padding: 5px;
            height: 50px;
            vertical-align: middle;
            user-select: none;

            .ddr-tooltip--bottom {
                top: 110%;

                &::before {
                    left: 46%;
                }
            }
        }

        &--header-cell {
            font-weight: bold;
        }

        &--body-row {

            &--checkbox {
                vertical-align: middle;
            }

            td {
                padding: 5px;
                height: 50px;
                vertical-align: middle;
            }

            &--actions {
                text-align: right;
            }

            &--hoveable:hover {
                cursor: pointer;
            }
        }

        &--foot-cell {
            padding: 10px;
        }


        @media (max-width: 568px) {

            thead {
                display: none;
            }

            &--body-cell {

                display: flex;
                width: 100%;
                align-items: center;

                &--title-mobile {
                    display: flex;
                    flex: 1;
                    align-items: center;
                    justify-content: left;
                    min-width: 30%;
                    text-align: left;
                    font-weight: bold;
                    height: 40px;
                }

                &--text-mobile {
                    display: flex;
                    flex: 1;
                    justify-content: center;
                }
            }

            &--body-row {
                &--actions {
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;
                }
            }
        }

        @media (min-width: 568px) {

            &--body-cell {
                &--title-mobile {
                    display: none;
                }
            }

            &--body-row {
                &--actions {
                    width: 15%;
                }
            }
        }

    }
}