<div class="ddr-table">
  <table class="ddr-table__table">
    <thead>
      <tr class="ddr-table__table--header-row">
        @if (multiple() && items() && items().length > 0) {
          <th class="ddr-table__table--header-row--checkbox" [style.width.%]="10">
            <ddr-checkbox-binary
              [(value)]="checkAll"
              (clickCheck)="selectAll()"/>
          </th>
        }
        @for (col of cols(); track col.property) {
          <th class="ddr-table__table--header-cell" [style.width.%]="widthCells()">
            @if (col.tooltip) {
              <i ddrTooltip [tooltipText]="col.tooltip | ddrTranslate" [tooltipOrientation]="constants.ORIENTATION.BOTTOM" class="bi bi-info-circle ddr-table__table--header-cell--tooltip"></i>
            }
            {{ col.label | ddrTranslate }}
            @if (allowSort() && col.sortable !== false) {
              <i class="bi d-inline-block me-1 cursor-pointer ddr-table__table--header-cell--sort"
                [class.bi-arrow-down-up]="!col.modeSort || col.modeSort == constants.MODE_SORT.NO_SORT"
                [class.bi-sort-down-alt]="col.modeSort == constants.MODE_SORT.DESCENDING"
                [class.bi-sort-up]="col.modeSort == constants.MODE_SORT.ASCENDING"
                (click)="onSort(col)"></i>
            }
          </th>
        }
        @if (showActions() && items().length > 0) {
          <th [style.width.%]="15"></th>
        }
      </tr>
    </thead>
    <tbody>
      @if (items().length == 0) {
        <tr class="ddr-table__table--body-row text-center" [class.ddr-table__table--border]="showBorder()">
          <td [style.width.%]="100" [attr.colspan]="colspan()">{{ labelNoResults() | ddrTranslate}}</td>
        </tr>
      }
      @if (items() && items().length > 0) {
        @for (
          it of items()
          | ddrPaginator: pageTable(): rows() : startPageZero() ; track
          index; let index = $index) {
          <tr class="ddr-table__table--body-row" 
            [class.ddr-table__table--body-row--hoveable]="canSelectItems()"
            [class.ddr-table__table--border]="showBorder()"
            (click)="onSelectItem($event, it)">
            @if (multiple()) {
              <td class="ddr-table__table--body-row--checkbox">
                <ddr-checkbox-binary
                  [(value)]="it.selected!"
                  (clickCheck)="sendMultipleItems()" />
              </td>
            }
            
            @for (col of cols(); track col.property) {
              <td class="ddr-table__table--body-cell">
                <span class="ddr-table__table--body-cell--title-mobile">
                  {{ col.label | ddrTranslate }}
                  @if (col.tooltip) {
                    <i ddrTooltip [tooltipText]="col.tooltip | ddrTranslate" [tooltipOrientation]="constants.ORIENTATION.BOTTOM" class="bi bi-info-circle ddr-table__table--body-cell--title-mobile__tooltip"></i>
                  } 
                </span>
                <span class="ddr-table__table--body-cell--text-mobile">
                  @if (templateCell()) {
                    <ng-template 
                      [ngTemplateOutlet]="templateCell()" 
                      [ngTemplateOutletContext]="{ item: it.item, col }" />
                  } @else {
                    {{ it.item | ddrNestedProperty: col.property }}
                  }
                </span>
              </td>
            }
            
            @if (showActions() && it.actions && it.actions.length > 0) {
              <td class="ddr-table__table--body-row--actions">
                <ddr-button-split
                  [actions]="it.actions"
                  position="bottom-left"
                  [showFirstOnlyIcon]="true"
                  (selectAction)="onSelectAction($event, it.item, index)"/>
              </td>
            }
          </tr>
        }
      }
    </tbody>
    @if (showFooter()) {
      <tfoot>
        <tr class="ddr-table__table--foot-row">
          <td [attr.colspan]="colspan()" class="ddr-table__table--foot-cell">
              @if ((showSummary() || showPagination()) && items().length > 0) {
                <ddr-paginator
                  [(page)]="pageTable"
                  [(pageSize)]="rows"
                  [totalItems]="totalItemsTable()"
                  [allowChangePageSize]="allowChangePageSize()"
                  [showSummary]="showSummary()"
                  [pageSizeValues]="optionsPageSizePagination()"
                  [labelOf]="labelOfPagination()"
                  [labelItems]="labelRegistersPagination()"
                  [labelPageSize]="labelPageSizePagination()"
                  alignment="right"
                  [pageSizeName]="`change-page-size-${id}`"
                  [goToPageName]="`go-to-page-${id}`"
                  (changePage)="onPageChange($event)"
                  (changePageSize)="onChangePageSize($event)"
                />
              }
          </td>
        </tr>
      </tfoot>
    }
  </table>
</div>
