<base-showcase component="ddr-login" type="component"  [showSlots]="true" [showTranslations]="true" [showPossibleValues]="false" [showClasses]="true" [showStyles]="true">

  <div description>
    <p>{{'login.component.description' | ddrTranslate}}</p>
  </div>

  <div examples>

<div class="row">
  <div class="col-12">
    <span class="h3">{{'login.component.example.1' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-login 
      [labelUsername]="'login.component.username' | ddrTranslate"
      [labelPlaceholderUsername]="'login.component.placeholder.username' | ddrTranslate"
      [labelPassword]="'login.component.password' | ddrTranslate"
      [labelPlaceholderPassword]="'login.component.placeholder.password' | ddrTranslate"
      [labelSubmit]="'login.component.submit' | ddrTranslate"
      (doLogin)="login($event)" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'login.component.example.2' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-login 
      [labelUsername]="'login.component.username' | ddrTranslate"
      [labelPlaceholderUsername]="'login.component.placeholder.username' | ddrTranslate"
      [labelPassword]="'login.component.password' | ddrTranslate"
      [labelPlaceholderPassword]="'login.component.placeholder.password' | ddrTranslate"
      [labelSubmit]="'login.component.submit' | ddrTranslate"
      [userRequired]="false"
      [userPassword]="false"
      (doLogin)="login($event)" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'login.component.example.3' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-login 
      [labelUsername]="'login.component.username' | ddrTranslate"
      [labelPlaceholderUsername]="'login.component.placeholder.username' | ddrTranslate"
      [labelPassword]="'login.component.password' | ddrTranslate"
      [labelPlaceholderPassword]="'login.component.placeholder.password' | ddrTranslate"
      [labelSubmit]="'login.component.submit' | ddrTranslate"
      [labelCreateUser]="'login.component.create.user' | ddrTranslate"
      [showCreateUser]="true"
      (doLogin)="login($event)"
      (registerUser)="registerUser()" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'login.component.example.4' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-login 
      [labelUsername]="'login.component.username' | ddrTranslate"
      [labelPlaceholderUsername]="'login.component.placeholder.username' | ddrTranslate"
      [labelPassword]="'login.component.password' | ddrTranslate"
      [labelPlaceholderPassword]="'login.component.placeholder.password' | ddrTranslate"
      [labelSubmit]="'login.component.submit' | ddrTranslate"
      [labelForgotenPassword]="'login.component.forgoten.password' | ddrTranslate"
      [showForgotPassword]="true"
      (doLogin)="login($event)"
      (forgotenPassword)="forgotenPassword()" 
      (registerUser)="registerUser()" />
  </div>
</div>


<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'login.component.example.5' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-login 
      [labelUsername]="'login.component.username' | ddrTranslate"
      [labelPlaceholderUsername]="'login.component.placeholder.username' | ddrTranslate"
      [labelPassword]="'login.component.password' | ddrTranslate"
      [labelPlaceholderPassword]="'login.component.placeholder.password' | ddrTranslate"
      [labelSubmit]="'login.component.submit' | ddrTranslate"
      [labelCreateUser]="'login.component.create.user' | ddrTranslate"
      [labelForgotenPassword]="'login.component.forgoten.password' | ddrTranslate"
      [showForgotPassword]="true"
      [showCreateUser]="true"
      (doLogin)="login($event)"
      (forgotenPassword)="forgotenPassword()" 
      (registerUser)="registerUser()" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'login.component.example.6' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-login 
      [labelUsername]="'login.component.username' | ddrTranslate"
      [labelPlaceholderUsername]="'login.component.placeholder.username' | ddrTranslate"
      [labelPassword]="'login.component.password' | ddrTranslate"
      [labelPlaceholderPassword]="'login.component.placeholder.password' | ddrTranslate"
      [labelSubmit]="'login.component.submit' | ddrTranslate"
      [showHeader]="true" 
      (doLogin)="login($event)">
      
      <div login-header class="text-center">
        <span>{{'login.component.header' | ddrTranslate}}</span>
      </div>

    </ddr-login>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'login.component.example.7' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-login 
      [labelPlaceholderUsername]="'login.component.placeholder.username' | ddrTranslate"
      [labelPlaceholderPassword]="'login.component.placeholder.password' | ddrTranslate"
      [labelSubmit]="'login.component.submit' | ddrTranslate"
      [showLabelUser]="false" 
      [showLabelPassword]="false"
      (doLogin)="login($event)" />
  </div>
</div>


<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'login.component.example.8' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-login 
      [labelPlaceholderUsername]="'login.component.placeholder.username' | ddrTranslate"
      [labelPlaceholderPassword]="'login.component.placeholder.password' | ddrTranslate"
      [labelSubmit]="'login.component.submit' | ddrTranslate"
      [showLabelUser]="false" 
      [showLabelPassword]="false"
      [showFooter]="true"
      (doLogin)="login($event)">

      <div login-footer class="text-center">
        <span>{{'login.component.footer' | ddrTranslate}}</span>
      </div>

    </ddr-login>
  </div>
</div>

  </div>
  
</base-showcase>