<div class="ddr-textarea" [class.ddr-textarea--inline]="inline()">
  @if (label()) {
    <label class="ddr-textarea__label"
      [attr.for]="name()"
      [class]="{
      'ddr-textarea__label--inline': inline(),
      'fw-bold': labelBold()
      }"
    >{{ label() + (required() ? "(*):" : "") }}</label>
    @if (tooltipText()) {
      <i
        class="bi bi-info-circle"
        ddrTooltip
        [tooltipOrientation]="tooltipOrientation()"
        [tooltipText]="tooltipText()">
      </i>
    }
  }
  <textarea
    #textarea
    class="ddr-textarea__textarea"
    [attr.id]="name()"
    [name]="name()"
    [placeholder]="placeholder()"
    [disabled]="disabled()"
    [readonly]="readonly()"
    [attr.maxlength]="maxlength()"
    [attr.minlength]="minlength()"
    [required]="required()"
    [cols]="cols()"
    [rows]="rows()"
    [(value)]="value"
    [class.is-valid]="validate() && dirty() && !errors()"
    [class.is-invalid]="validate() && dirty() && errors()"
    [class.w-100]="!inline()"
    [class.ddr-textarea__textarea--inline]=" inline()"
    (click)="onclick($event)"
    (keyup)="onKeyup()"
    (blur)="onblur()"></textarea>
  <!--Validation-->
  @if (validate() && dirty() && !errors()) {
    <div
      [class.w-auto]="inline()" [class.d-inline-block]="inline()" [class.ms-1]="inline()"
      class="valid-feedback"
      >
      <ng-template [ngTemplateOutlet]="templateValid()" />
    </div>
  }
  @if (validate() && dirty() && errors()) {
    <div
      [class.w-auto]="inline()" [class.d-inline-block]="inline()" [class.ms-1]="inline()"
      class="invalid-feedback"
      >
      <ng-template
        [ngTemplateOutlet]="templateErrors()"
        [ngTemplateOutletContext]="{ errors: errors() }" />
    </div>
  }
</div>
