<base-showcase 
  component="ddr-input-group" 
  type="component" 
  [documentation]="documentation" 
  [showTemplates]="true" 
  [showInputsOutputs]="true"
  [showStyles]="true">

  <div description>
    <p>{{'input.group.description' | ddrTranslate}}</p>
  </div>

  <ng-template #example>
    <input-group-showcase-1 />
  </ng-template>

  <ng-template #example>
    <input-group-showcase-2 />
  </ng-template>

  <ng-template #example>
    <input-group-showcase-3 />
  </ng-template>

  <ng-template #example>
    <input-group-showcase-4 />
  </ng-template>

  <ng-template #example>
    <input-group-showcase-5 />
  </ng-template>

  <ng-template #example>
    <input-group-showcase-6 />
  </ng-template>

  <ng-template #example>
    <input-group-showcase-7 />
  </ng-template>

  <ng-template #example>
    <input-group-showcase-8 />
  </ng-template>

  <ng-template #example>
    <input-group-showcase-9 />
  </ng-template>

  <ng-template #example>
    <input-group-showcase-10 />
  </ng-template>

  <ng-template #example>
    <input-group-showcase-11 />
  </ng-template>

  <ng-template #example>
    <input-group-showcase-12 />
  </ng-template>
  
  <ng-template #example>
    <input-group-showcase-13 />
  </ng-template>

  <ng-template #example>
    <input-group-showcase-14 />
  </ng-template>

  <ng-template #example>
    <input-group-showcase-15 />
  </ng-template>
  
  <ng-template #example>
    <input-group-showcase-16 />
  </ng-template>

  <ng-template #example>
    <input-group-showcase-17 />
  </ng-template>

</base-showcase>







