<base-showcase 
  component="ddr-safe-pipe" 
  type="pipe" 
  [documentation]="documentation" 
  [showOutputs]="false" 
  [showInputs]="false" 
  [showParams]="true">

  <div description>
    <p>{{'safe.description' | ddrTranslate}}</p>
  </div>

  <ng-template #example>
    <safe-showcase-1 />
  </ng-template>

  <ng-template #example>
    <safe-showcase-2 />
  </ng-template>

  <ng-template #example>
    <safe-showcase-3 />
  </ng-template>

  <ng-template #example>
    <safe-showcase-4 />
  </ng-template>

</base-showcase>