<base-showcase 
  component="ddr-badge-pill" 
  type="component" 
  [documentation]="documentation"
  [showTemplates]="true" 
  [showStyles]="true">

  <div description>
    <p>{{'badge.description' | ddrTranslate}}</p>
  </div>

  <ng-template #example>
    <badge-showcase-1 />
  </ng-template>

  <ng-template #example>
    <badge-showcase-2 />
  </ng-template>

  <ng-template #example>
    <badge-showcase-3 />
  </ng-template>

  <ng-template #example>
    <badge-showcase-4 />
  </ng-template>

  <ng-template #example>
    <badge-showcase-5 />
  </ng-template>

  <ng-template #example>
    <badge-showcase-6 />
  </ng-template>

  <ng-template #example>
    <badge-showcase-7 />
  </ng-template>

</base-showcase>