<div class="ddr-card"
  [class.ddr-card--rounded]="rounded()"
  [class.border]="border()"
  [class.ddr-card--shadow]="shadow()"
  [style.background-color]="background() ? background() : null"
  [style.color]="color() ? color():  null">
  @if (showHeader()) {
    <div class="ddr-card__title">
      <ng-content select="[card-title]" />
    </div>
  }
  <div class="ddr-card__body">
    <ng-content select="[card-content]" />
  </div>
  @if (showFooter()) {
    <div class="ddr-card__footer">
      <ng-content select="[card-footer]" />
    </div>
  }
</div>
