<base-showcase component="ddrDragDrop" type="directive"  [showCodeCSS]="true" [showPossibleValues]="false">

  <div description>
    <p>{{'drag.drop.description' | ddrTranslate}}</p>
  </div>

  <div examples>

<div class="row">
  <div class="col-12">
    <span class="h3">{{'drag.drop.example.1' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">

    <ddr-button 
      [text]="dragDropEnabled ? 'drag.drop.disabled' : 'drag.drop.active'" 
      (action)="toggleEnabled()" />

    <div class="drag-and-drop" 
      ddrDragDrop 
      [dragDropEnabled]="dragDropEnabled" 
      (dragDropFiles)="loadFiles($event)">
      {{'drag.drop.message' | ddrTranslate}}
    </div>
  </div>
</div>

  </div>


</base-showcase>