<div class="ddr-progress-bar progress" [style.height.px]="height()">
  <div class="progress-bar" 
    role="progressbar"
    [class]="{'progress-bar-striped': striped(), 'progress-bar-animated': animated()}"
    [style.width.%]="value()">
    <span [class]="{
      'ddr-progress-bar__float-text': floatText(), 
      'ddr-progress-bar__float-text--less-50': floatText() && value() <= 50, 
      'ddr-progress-bar__float-text--greather-50': floatText() && value() > 50
    }">{{label()}}</span>
  </div>
</div>