<base-showcase component="ddr-checkbox-binary" type="component"  [showPossibleValues]="false" [showStyles]="true">

  <div description>
    <p>{{'checkbox.binary.description' | ddrTranslate}}</p>
  </div>

  <div examples>

<div class="row">
  <div class="col-12">
    <span class="h3">{{'checkbox.binary.example.1' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-checkbox-binary 
          label="checkbox.binary.label"
          [(ngModel)]="value" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span>{{'checkbox.binary.value' | ddrTranslate}}: {{value}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'checkbox.binary.example.2' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-checkbox-binary 
          label="checkbox.binary.label"
          [disabled]="true" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'checkbox.binary.example.3' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-checkbox-binary 
          label="checkbox.binary.label"
          (clickCheck)="clickCheck($event)" />
  </div>
</div>

  </div>

</base-showcase>