<base-showcase 
  component="ddr-checkbox-binary" 
  type="component"
  [documentation]="documentation" 
  [showPossibleValues]="false" 
  [showInputsOutputs]="true"
  [showStyles]="true">

  <div description>
    <p>{{'checkbox.binary.description' | ddrTranslate}}</p>
  </div>

  <ng-template #example>
    <checkbox-binary-showcase-1 />
  </ng-template>

  <ng-template #example>
    <checkbox-binary-showcase-2 />
  </ng-template>

  <ng-template #example>
    <checkbox-binary-showcase-3 />
  </ng-template>

  <ng-template #example>
    <checkbox-binary-showcase-4 />
  </ng-template>

  <ng-template #example>
    <checkbox-binary-showcase-5 />
  </ng-template>

  <ng-template #example>
    <checkbox-binary-showcase-6 />
  </ng-template>

  <ng-template #example>
    <checkbox-binary-showcase-7 />
  </ng-template>

</base-showcase>