<base-showcase 
  component="ddr-tabs" 
  type="component" 
  [documentation]="documentation" 
  [hasComponentChild]="true" 
  [showPossibleValues]="false" 
  [showTemplates]="true" 
  [showStyles]="true">

  <div description>
    <p>{{'tabs.description' | ddrTranslate}}</p>
  </div>

  <ng-template #example>
    <tabs-showcase-1 />
  </ng-template>

  <ng-template #example>
    <tabs-showcase-2 />
  </ng-template>

  <ng-template #example>
    <tabs-showcase-3 />
  </ng-template>

</base-showcase>