<base-showcase 
    component="ddr-dropdown-multiple" 
    type="component" 
    [documentation]="documentation" 
    [showTemplates]="true" 
    [showInputsOutputs]="true"
    [showTranslations]="true" 
    [showStyles]="true">

    <div description>
        <p>{{'dropdown.multiple.description' | ddrTranslate}}</p>
    </div>

    <ng-template #example>
        <dropdown-multiple-showcase-1 />
    </ng-template>

    <ng-template #example>
        <dropdown-multiple-showcase-2 />
    </ng-template>

    <ng-template #example>
        <dropdown-multiple-showcase-3 />
    </ng-template>

    <ng-template #example>
        <dropdown-multiple-showcase-4 />
    </ng-template>

    <ng-template #example>
        <dropdown-multiple-showcase-5 />
    </ng-template>

    <ng-template #example>
        <dropdown-multiple-showcase-6 />
    </ng-template>

    <ng-template #example>
        <dropdown-multiple-showcase-7 />
    </ng-template>

    <ng-template #example>
        <dropdown-multiple-showcase-8 />
    </ng-template>

    <ng-template #example>
        <dropdown-multiple-showcase-9 />
    </ng-template>

    <ng-template #example>
        <dropdown-multiple-showcase-10 />
    </ng-template>

        <ng-template #example>
        <dropdown-multiple-showcase-11 />
    </ng-template>

    <ng-template #example>
        <dropdown-multiple-showcase-12 />
    </ng-template>

    <ng-template #example>
        <dropdown-multiple-showcase-13 />
    </ng-template>

    <ng-template #example>
        <dropdown-multiple-showcase-14 />
    </ng-template>
    
    <ng-template #example>
        <dropdown-multiple-showcase-15 />
    </ng-template>
    
    <ng-template #example>
        <dropdown-multiple-showcase-16 />
    </ng-template>

    <ng-template #example>
        <dropdown-multiple-showcase-17 />
    </ng-template>

    <ng-template #example>
        <dropdown-multiple-showcase-18 />
    </ng-template>

    <ng-template #example>
        <dropdown-multiple-showcase-19 />
    </ng-template>

    <ng-template #example>
        <dropdown-multiple-showcase-20 />
    </ng-template>

    <ng-template #example>
        <dropdown-multiple-showcase-21 />
    </ng-template>

    <ng-template #example>
        <dropdown-multiple-showcase-22 />
    </ng-template>

    <ng-template #example>
        <dropdown-multiple-showcase-23 />
    </ng-template>

</base-showcase>