<base-showcase component="ddr-input-password" type="component" [showTemplates]="true" [showStyles]="true">

  <div description>
    <p>{{'input.password.description' | ddrTranslate}}</p>
  </div>

  <div examples>

<div class="row">
  <div class="col-12">
    <span class="h3">{{'input.password.example.1' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-input-password
      [label]="'input.password.label' | ddrTranslate"
      [placeholder]="'input.password.placeholder' | ddrTranslate"
      name="example-1"
      [(ngModel)]="value" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span>{{'input.password.value' | ddrTranslate}}: {{value}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'input.password.example.2' | ddrTranslate}}</span>
  </div>
</div>
  
<div class="row mt-3">
  <div class="col-12">
    <ddr-input-password
      [label]="'input.password.label' | ddrTranslate"
      [placeholder]="'input.password.placeholder' | ddrTranslate"
      name="example-2"
      [required]="true"
      [validate]="true">

        <ng-template #templateValid>
            <span>{{'input.password.ok' | ddrTranslate}}</span>
        </ng-template>

        <ng-template #templateErrors let-errors="errors">
            @if(errors?.required){
              <span>{{'input.password.required' | ddrTranslate}}</span>
            }
            @if(errors?.minlength){
              <span class="me-2">{{'input.password.minlength.required' | ddrTranslate}} {{ errors?.minlength.requiredLength }}</span>
              <span>{{'input.password.minlength.actual' | ddrTranslate}} {{ errors?.minlength?.actualLength }}</span>
            }
        </ng-template>

    </ddr-input-password>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'input.password.example.3' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-input-password
      [label]="'input.password.label' | ddrTranslate"
      [placeholder]="'input.password.placeholder' | ddrTranslate"
      name="example-3"
      [inline]="true"
      [required]="true"
      [validate]="true">

        <ng-template #templateValid>
            <span>{{'input.password.ok' | ddrTranslate}}</span>
        </ng-template>

        <ng-template #templateErrors let-errors="errors">
            @if(errors?.required){
              <span>{{'input.password.required' | ddrTranslate}}</span>
            }
            @if(errors?.minlength){
              <span class="me-2">{{'input.password.minlength.required' | ddrTranslate}} {{ errors?.minlength.requiredLength }}</span>
              <span>{{'input.password.minlength.actual' | ddrTranslate}} {{ errors?.minlength?.actualLength }}</span>
            }
        </ng-template>

      </ddr-input-password>
    </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'input.password.example.4' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-input-password
      [label]="'input.password.label' | ddrTranslate"
      [placeholder]="'input.password.placeholder' | ddrTranslate"
      name="example-4"
      [disabled]="true"
      [(ngModel)]="valueEx4" />
    </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'input.password.example.5' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-input-password
      [label]="'input.password.label' | ddrTranslate"
      [placeholder]="'input.password.placeholder' | ddrTranslate"
      name="example-5"
      [readonly]="true"
      [(ngModel)]="valueEx5" />
    </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'input.password.example.6' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-input-password
      [label]="'input.password.label' | ddrTranslate"
      [placeholder]="'input.password.placeholder' | ddrTranslate"
      name="example-6"
      [showPassword]="true" />
    </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'input.password.example.7' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-input-password
      [label]="'input.password.label' | ddrTranslate"
      [placeholder]="'input.password.placeholder' | ddrTranslate"
      name="example-7"
      [tooltipText]="'input.password.tooltip' | ddrTranslate" />
    </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'input.password.example.8' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-input-password
      [label]="'input.password.label' | ddrTranslate"
      [placeholder]="'input.password.placeholder' | ddrTranslate"
      name="example-8"
      [labelBold]="true" />
    </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'input.password.example.9' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-input-password
      [label]="'input.password.label' | ddrTranslate"
      [placeholder]="'input.password.placeholder' | ddrTranslate"
      name="example-9"
      (clickInput)="clickInput($event)"
      (keyPressed)="keyPressed($event)" />
    </div>
</div>

  </div>

</base-showcase>
