<base-showcase 
  component="ddr-input-password" 
  type="component" 
  [documentation]="documentation" 
  [showInputsOutputs]="true"
  [showTemplates]="true" 
  [showStyles]="true">

  <div description>
    <p>{{'input.password.description' | ddrTranslate}}</p>
  </div>

  <ng-template #example>
    <input-password-showcase-1 />
  </ng-template>

  <ng-template #example>
    <input-password-showcase-2 />
  </ng-template>

  <ng-template #example>
    <input-password-showcase-3 />
  </ng-template>

  <ng-template #example>
    <input-password-showcase-4 />
  </ng-template>

  <ng-template #example>
    <input-password-showcase-5 />
  </ng-template>

  <ng-template #example>
    <input-password-showcase-6 />
  </ng-template>

  <ng-template #example>
    <input-password-showcase-7 />
  </ng-template>

  <ng-template #example>
    <input-password-showcase-8 />
  </ng-template>

  <ng-template #example>
    <input-password-showcase-9 />
  </ng-template>

  <ng-template #example>
    <input-password-showcase-10 />
  </ng-template>

  <ng-template #example>
    <input-password-showcase-11 />
  </ng-template>

  <ng-template #example>
    <input-password-showcase-12 />
  </ng-template>
  
  <ng-template #example>
    <input-password-showcase-13 />
  </ng-template>

  <ng-template #example>
    <input-password-showcase-14/>
  </ng-template>
  
  <ng-template #example>
    <input-password-showcase-15 />
  </ng-template>

</base-showcase>
