<base-showcase 
    component="ddr-input-number" 
    type="component" 
    [documentation]="documentation" 
    [showTemplates]="true" 
    [showInputsOutputs]="true" 
    [showStyles]="true">

    <div description>
        <p>{{'input.number.description' | ddrTranslate}}</p>
    </div>

    <ng-template #example>
        <input-number-showcase-1 />
    </ng-template>

    <ng-template #example>
        <input-number-showcase-2 />
    </ng-template>

    <ng-template #example>
        <input-number-showcase-3 />
    </ng-template>

    <ng-template #example>
        <input-number-showcase-4 />
    </ng-template>

    <ng-template #example>
        <input-number-showcase-5 />
    </ng-template>

    <ng-template #example>
        <input-number-showcase-6 />
    </ng-template>

    <ng-template #example>
        <input-number-showcase-7 />
    </ng-template>

    <ng-template #example>
        <input-number-showcase-8 />
    </ng-template>

    <ng-template #example>
        <input-number-showcase-9 />
    </ng-template>

    <ng-template #example>
        <input-number-showcase-10 />
    </ng-template>

    <ng-template #example>
        <input-number-showcase-11 />
    </ng-template>

    <ng-template #example>
        <input-number-showcase-12 />
    </ng-template>

    <ng-template #example>
        <input-number-showcase-13 />
    </ng-template>

    <ng-template #example>
        <input-number-showcase-14 />
    </ng-template>

    <ng-template #example>
        <input-number-showcase-15 />
    </ng-template>

    <ng-template #example>
        <input-number-showcase-16 />
    </ng-template>

    <ng-template #example>
        <input-number-showcase-17 />
    </ng-template>

    <ng-template #example>
        <input-number-showcase-18 />
    </ng-template>

    <ng-template #example>
        <input-number-showcase-19 />
    </ng-template>

    <ng-template #example>
        <input-number-showcase-20 />
    </ng-template>

    <ng-template #example>
        <input-number-showcase-21 />
    </ng-template>

</base-showcase>