<base-showcase 
  component="ddr-card" 
  type="component" 
  [documentation]="documentation"
  [showSlots]="true" 
  [showOutputs]="false" 
  [showPossibleValues]="false" 
  [showStyles]="true">

  <div description>
    <p>{{'card.description' | ddrTranslate}}</p>
  </div>

  <ng-template #example>
    <card-showcase-1 />
  </ng-template>

  <ng-template #example>
    <card-showcase-2 />
  </ng-template>

  <ng-template #example>
    <card-showcase-3 />
  </ng-template>

  <ng-template #example>
    <card-showcase-4 />
  </ng-template>
  
  <ng-template #example>
    <card-showcase-5 />
  </ng-template>
  
  <ng-template #example>
    <card-showcase-6 />
  </ng-template>
  
  <ng-template #example>
    <card-showcase-7 />
  </ng-template>

</base-showcase>
