<base-showcase component="ddr-card" type="component"  [showSlots]="true" [showOutputs]="false" [showPossibleValues]="false" [showStyles]="true">

  <div description>
    <p>{{'card.description' | ddrTranslate}}</p>
  </div>

  <div examples>

<div class="row">
  <div class="col-12">
    <span class="h3">{{'card.example.1' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-card>
      <span class="h4" card-title>{{'card.title' | ddrTranslate}}</span>
      <span card-content>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam
        earum corporis mollitia delectus necessitatibus perspiciatis,
        temporibus sed nam veritatis nostrum quaerat deserunt placeat
        eveniet libero eaque enim, porro neque quod!
      </span>
    </ddr-card>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'card.example.2' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-card [showHeader]="false">
      <span card-content>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam
        earum corporis mollitia delectus necessitatibus perspiciatis,
        temporibus sed nam veritatis nostrum quaerat deserunt placeat
        eveniet libero eaque enim, porro neque quod!
      </span>
    </ddr-card>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'card.example.3' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-card [showFooter]="true">
      <span class="h4" card-title>{{'card.title' | ddrTranslate}}</span>
      <span card-content>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam
        earum corporis mollitia delectus necessitatibus perspiciatis,
        temporibus sed nam veritatis nostrum quaerat deserunt placeat
        eveniet libero eaque enim, porro neque quod!
      </span>
      <span card-footer>{{'card.footer' | ddrTranslate}}</span>
    </ddr-card>
  </div>
</div>


<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'card.example.4' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-card [rounded]="false">
      <span class="h4" card-title>{{'card.title' | ddrTranslate}}</span>
      <span card-content>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam
        earum corporis mollitia delectus necessitatibus perspiciatis,
        temporibus sed nam veritatis nostrum quaerat deserunt placeat
        eveniet libero eaque enim, porro neque quod!
      </span>
    </ddr-card>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'card.example.5' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-card [border]="false">
      <span class="h4" card-title>{{'card.title' | ddrTranslate}}</span>
      <span card-content>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam
        earum corporis mollitia delectus necessitatibus perspiciatis,
        temporibus sed nam veritatis nostrum quaerat deserunt placeat
        eveniet libero eaque enim, porro neque quod!
      </span>
    </ddr-card>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'card.example.6' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-card [shadow]="false">
      <span class="h4" card-title>{{'card.title' | ddrTranslate}}</span>
      <span card-content>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam
        earum corporis mollitia delectus necessitatibus perspiciatis,
        temporibus sed nam veritatis nostrum quaerat deserunt placeat
        eveniet libero eaque enim, porro neque quod!
      </span>
    </ddr-card>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'card.example.7' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-card 
      [showHeader]="false" 
      background="green" 
      color="white">
      <span class="h4" card-title>{{'card.title' | ddrTranslate}}</span>
      <span card-content>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam
        earum corporis mollitia delectus necessitatibus perspiciatis,
        temporibus sed nam veritatis nostrum quaerat deserunt placeat
        eveniet libero eaque enim, porro neque quod!
      </span>
    </ddr-card>
  </div>
</div>
      
  </div>

</base-showcase>
