<base-showcase component="ddrTooltip" type="directive" [showOutputs]="false" [showStyles]="true">

  <div description>
    <p>{{'tooltip.description' | ddrTranslate}}</p>
  </div>

  <div examples>

<div class="row">
  <div class="col-12">
    <span class="h3">{{'tooltip.example.1' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <p><span ddrTooltip tooltipText="Lorem ipsum dolor">Lorem ipsum dolor</span> sit amet consectetur adipisicing elit. Dolor ab expedita vitae, neque libero suscipit voluptates. Dolor necessitatibus saepe pariatur similique sunt, ut et cumque culpa qui dignissimos atque aliquid!</p>
  </div>
</div>


<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'tooltip.example.2' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <p><span ddrTooltip tooltipText="Lorem ipsum dolor" [tooltipUnderline]="true">Lorem ipsum dolor</span> sit amet consectetur adipisicing elit. Dolor ab expedita vitae, neque libero suscipit voluptates. Dolor necessitatibus saepe pariatur similique sunt, ut et cumque culpa qui dignissimos atque aliquid!</p>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'tooltip.example.3' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <p><span ddrTooltip tooltipText="right" tooltipOrientation="right" [tooltipUnderline]="true">Lorem ipsum dolor</span> sit amet consectetur adipisicing elit. Tempore commodi aliquid suscipit, laboriosam odio fuga ut mollitia minima quae esse expedita quidem at ipsam consequatur, eius, cupiditate consectetur debitis neque.
    Consequuntur, laborum quaerat non, voluptate itaque alias exercitationem dolore distinctio ratione porro sequi. Nulla quis vel inventore, dolor non cum eligendi voluptate suscipit maxime numquam porro ducimus architecto debitis animi?
    Aperiam corrupti ea pariatur fugiat recusandae aliquam. <span ddrTooltip tooltipText="left" tooltipOrientation="left" [tooltipUnderline]="true">Alias perspiciatis</span> unde beatae, modi quidem, porro eligendi tempora harum fuga deleniti sequi, velit sit dolor reprehenderit aperiam neque veniam vero eveniet pariatur?
    Placeat perspiciatis ratione, fugit doloremque voluptates vero consequatur reiciendis. Tenetur dolorem repellendus facilis sint ea nulla molestias facere, consequatur hic dicta natus minus eligendi rem illo. Veritatis, iste laborum. Cum!
    Totam, vitae porro. <span ddrTooltip tooltipText="bottom" tooltipOrientation="bottom" [tooltipUnderline]="true">Aspernatur ipsum</span>, voluptates unde dicta sint pariatur veritatis et distinctio tempora sunt ut laudantium recusandae ea maxime non repellat beatae enim dolores consequatur vitae quia quidem? Adipisci.
    Maxime perferendis, ad rerum suscipit, obcaecati, nam ipsam commodi iusto itaque debitis porro! Iure, veniam corrupti, voluptas ullam dignissimos impedit possimus dolor inventore sunt tempore illo recusandae similique quam excepturi!
    Asperiores magni possimus nulla facilis. Recusandae inventore corrupti nulla optio tenetur natus aut, cum dolorum deleniti architecto minus velit. Doloribus numquam eum quia similique non tenetur amet minima. Doloribus, eligendi?
    <span ddrTooltip tooltipText="top" tooltipOrientation="top" [tooltipUnderline]="true">Laudantium sapiente</span> voluptas, necessitatibus dicta dolore fugit ex unde quisquam dolor quis distinctio quasi, similique illum libero, ipsam aliquam provident! Necessitatibus accusantium fuga natus molestiae saepe rerum. Voluptatum, aliquam inventore.
    Neque, voluptates. Expedita dolore ab minima, aliquid dolorum qui alias corporis obcaecati tempore doloremque quas ex sed sequi quam, autem illo ullam atque ut illum? Inventore incidunt aperiam dolore doloribus.
    Temporibus nulla quas alias. Atque, obcaecati. Quos ab accusamus quis architecto magni libero explicabo laboriosam nisi. Fuga vero error dolorem nostrum, quam in illo at? Laborum at quod pariatur officiis?</p>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'tooltip.example.4' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <p><span ddrTooltip tooltipText="Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor" tooltipOrientation="right" [tooltipUnderline]="true">Lorem ipsum dolor</span> sit amet consectetur adipisicing elit. Tempore commodi aliquid suscipit, laboriosam odio fuga ut mollitia minima quae esse expedita quidem at ipsam consequatur, eius, cupiditate consectetur debitis neque.
    Consequuntur, laborum quaerat non, voluptate itaque alias exercitationem dolore distinctio ratione porro sequi. Nulla quis vel inventore, dolor non cum eligendi voluptate suscipit maxime numquam porro ducimus architecto debitis animi?
    Aperiam corrupti ea pariatur fugiat recusandae aliquam. Alias perspiciatis unde beatae, modi quidem, porro eligendi tempora harum fuga deleniti sequi, velit sit dolor reprehenderit aperiam neque veniam vero eveniet pariatur?
    Placeat perspiciatis ratione, fugit doloremque voluptates vero consequatur reiciendis. Tenetur dolorem repellendus facilis sint ea nulla molestias facere, consequatur hic dicta natus minus eligendi rem illo. Veritatis, iste laborum. Cum!
    Totam, vitae porro. <span ddrTooltip tooltipText="Aspernatur ipsum Aspernatur ipsum Aspernatur ipsum Aspernatur ipsum" tooltipOrientation="bottom" [tooltipUnderline]="true">Aspernatur ipsum</span>, voluptates unde dicta sint pariatur veritatis et distinctio tempora sunt ut laudantium recusandae ea maxime non repellat beatae enim dolores consequatur vitae quia quidem? Adipisci.
    Maxime perferendis, ad rerum suscipit, obcaecati, nam ipsam commodi iusto itaque debitis porro! Iure, veniam corrupti, voluptas ullam dignissimos impedit possimus dolor inventore sunt tempore illo recusandae similique quam excepturi!
    Asperiores magni possimus nulla facilis. Recusandae inventore corrupti nulla optio tenetur natus aut, cum dolorum deleniti architecto minus velit. Doloribus numquam eum quia similique non tenetur amet minima. Doloribus, eligendi?
    <span ddrTooltip tooltipText="Laudantium sapiente Laudantium sapiente Laudantium sapiente Laudantium sapiente Laudantium sapiente" tooltipOrientation="top" [tooltipUnderline]="true">Laudantium sapiente</span> voluptas, necessitatibus dicta dolore fugit ex unde quisquam dolor quis distinctio quasi, similique illum libero, ipsam aliquam provident! Necessitatibus accusantium fuga natus molestiae saepe rerum. Voluptatum, aliquam inventore.
    Neque, voluptates. Expedita dolore ab minima, aliquid dolorum qui alias corporis obcaecati tempore doloremque quas ex sed sequi quam, <span ddrTooltip tooltipText="autem illo ullam autem illo ullam autem illo ullam" tooltipOrientation="left" [tooltipUnderline]="true">autem illo ullam</span> atque ut illum? Inventore incidunt aperiam dolore doloribus.
    Temporibus nulla quas alias. Atque, obcaecati. Quos ab accusamus quis architecto magni libero explicabo laboriosam nisi. Fuga vero error dolorem nostrum, quam in illo at? Laborum at quod pariatur officiis?</p>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <span class="h3">{{'tooltip.example.5' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">

    <ddr-button-multiple
      [buttons]="buttonsOrientation"
      [showSelectedButton]="true"
      [(ngModel)]="tooltipOrientation" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12 text-center">

    <i ddrTooltip 
      tooltipText="Lorem ipsum" 
      [tooltipOrientation]="tooltipOrientation" 
      class="bi bi-question-circle">
    </i>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <span class="h3">{{'tooltip.example.6' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim animi quae vero sint iure dignissimos inventore, quasi, <span ddrTooltip tooltipText="Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor" tooltipWidth="400px" [tooltipUnderline]="true">cum veritatis</span> nulla dolores vel iusto, libero natus pariatur ad quo deleniti necessitatibus.</p>

  </div>
</div>

<div class="row">
  <div class="col-12">
    <span class="h3">{{'tooltip.example.7' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">

    <ng-template #tooltipTemplate let-value="value">
      <div>
        <p>{{'tooltip.template' | ddrTranslate}}</p>
        <p>{{value}}</p>
      </div>
    </ng-template>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim animi quae vero sint iure dignissimos inventore, quasi, <span ddrTooltip [tooltipTemplate]="tooltipTemplate" [tooltipTemplateData]="tooltipTemplateData" [tooltipUnderline]="true">cum veritatis</span> nulla dolores vel iusto, libero natus pariatur ad quo deleniti necessitatibus.</p>

  </div>
</div>
      
  </div>
  
</base-showcase>