<base-showcase 
  component="ddr-dropdown" 
  type="component" 
  [documentation]="documentation" 
  [showTemplates]="true" 
  [showInputsOutputs]="true"
  [showTranslations]="true" 
  [showStyles]="true">

  <div description>
    <p>{{'dropdown.description' | ddrTranslate}}</p>
  </div>

  <ng-template #example>
    <dropdown-showcase-1 />
  </ng-template>

  <ng-template #example>
    <dropdown-showcase-2 />
  </ng-template>

  <ng-template #example>
    <dropdown-showcase-3 />
  </ng-template>

  <ng-template #example>
    <dropdown-showcase-4 />
  </ng-template>

  <ng-template #example>
    <dropdown-showcase-5 />
  </ng-template>

  <ng-template #example>
    <dropdown-showcase-6 />
  </ng-template>

  <ng-template #example>
    <dropdown-showcase-7 />
  </ng-template>

  <ng-template #example>
    <dropdown-showcase-8 />
  </ng-template>

  <ng-template #example>
    <dropdown-showcase-9 />
  </ng-template>

  <ng-template #example>
    <dropdown-showcase-10 />
  </ng-template>

  <ng-template #example>
    <dropdown-showcase-11 />
  </ng-template>
  
  <ng-template #example>
    <dropdown-showcase-12 />
  </ng-template>
  
  <ng-template #example>
    <dropdown-showcase-13 />
  </ng-template>

  <ng-template #example>
    <dropdown-showcase-14 />
  </ng-template>

  <ng-template #example>
    <dropdown-showcase-15 />
  </ng-template>
  
  <ng-template #example>
    <dropdown-showcase-16 />
  </ng-template>
  
  <ng-template #example>
    <dropdown-showcase-17 />
  </ng-template>
    
  <ng-template #example>
    <dropdown-showcase-18 />
  </ng-template>

  <ng-template #example>
    <dropdown-showcase-19 />
  </ng-template>
  
  <ng-template #example>
    <dropdown-showcase-20 />
  </ng-template>
    
  <ng-template #example>
    <dropdown-showcase-21 />
  </ng-template>
  
  <ng-template #example>
    <dropdown-showcase-22 />
  </ng-template>

  <ng-template #example>
    <dropdown-showcase-23 />
  </ng-template>

  <ng-template #example>
    <dropdown-showcase-24 />
  </ng-template>

  <ng-template #example>
    <dropdown-showcase-25 />
  </ng-template>

</base-showcase>