<ddr-input-group
  class="ddr-input-password"
  [label]="label"
  [placeholder]="placeholder"
  [icon]="showPwd ? 'bi bi-eye' : 'bi bi-eye-slash'"
  [(ngModel)]="value" 
  [validate]="validate"
  [inline]="inline"
  [pattern]="pattern"
  [required]="required" 
  [readonly]="readonly" 
  [disabled]="disabled"
  [labelBold]="labelBold"
  [name]="name"
  [autocomplete]="autocomplete"
  [showTooltip]="showTooltip"
  [orientationTooltip]="orientationTooltip"
  [tooltipText]="tooltipText"
  [type]="
    showPwd
      ? constants.TYPE_INPUT.TEXT
      : constants.TYPE_INPUT.PASSWORD"
  (action)="showPassword()"
  (hasErrors)="onHasErrors($event)"
  (keyPressed)="onKeyup($event)"
  (keydown)="onKeydown($event)">

  
    <ng-template #templateValid>
      <ng-container [ngTemplateOutlet]="templateValidOutside"></ng-container>
    </ng-template>

    <ng-template #templateErrors let-errors="errors">
      <ng-container 
        [ngTemplateOutlet]="templateErrorsOutside"
        [ngTemplateOutletContext]="{ errors }"></ng-container>
    </ng-template>

</ddr-input-group>