<ddr-input-group
  class="ddr-input-password"
  [label]="label"
  [placeholder]="placeholder"
  [icon]="showPwd ? 'bi bi-eye' : 'bi bi-eye-slash'"
  [(ngModel)]="value" 
  [validate]="validate"
  [inline]="inline"
  [pattern]="pattern"
  [templateValidInput]="templateValid" 
  [templateErrorsInput]="templateErrors"
  [required]="required" 
  [readonly]="readonly" 
  [disabled]="disabled"
  [labelBold]="labelBold"
  [name]="name"
  [autocomplete]="autocomplete"
  [showTooltip]="showTooltip"
  [orientationTooltip]="orientationTooltip"
  [tooltipText]="tooltipText"
  [type]="
    showPwd
      ? constants.TYPE_INPUT.TEXT
      : constants.TYPE_INPUT.PASSWORD"
  (action)="showPassword()"
  (hasErrors)="onHasErrors($event)"
  (keyup)="onKeyup($event)"
  (keydown)="onKeydown($event)">
</ddr-input-group>