<div class="ddr-toggle" [class.ddr-toggle--inline]="inline()">
  @if (label()) {
    <div class="ddr-toggle__label" [class.ddr-toggle__label--inline]="inline()">
      <span>{{ label() }}</span>
      @if (tooltipText()) {
        <i
          class="ms-1 bi bi-info-circle"
          ddrTooltip
          [tooltipOrientation]="tooltipOrientation()"
          [tooltipText]="tooltipText()">
        </i>
      }
    </div>
  }
  <button type="button" class="ddr-toggle__button"
    [class.ddr-toggle__button--on]="value()"
    [class.ddr-toggle__button--off]="!value()"
    [class.ddr-toggle__button--small]="size() == constants.SIZE.SMALL"
    [class.ddr-toggle__button--medium]="size() == constants.SIZE.MEDIUM"
    [class.ddr-toggle__button--large]="size() == constants.SIZE.LARGE"
    [attr.aria-expanded]="value()"
    (click)="onClick()">
  </button>
</div>