@if (buttons && buttons.length > 0) {
  <div class="ddr-multiple-button">
    @if (buttons.length == 1) {
      <ddr-button
        [ngClass]="{
        'ddr-multiple-button__selected': showSelectedButton && value == buttons[0].value
        }"
        [text]="buttons[0].text | ddrTranslate"
        [icon]="buttons[0].icon"
        [tooltipText]="buttons[0].tooltipText"
        [size]="modeButtonsSize"
        [transparent]="transparent"
        (action)="clickButton(buttons[0])"
      ></ddr-button>
    }
    @if (buttons.length > 1) {
      @for (button of buttons; track button; let index = $index) {
        <ddr-button
          [ngClass]="{
          'ddr-multiple-button__selected': showSelectedButton && value == button.value,
          'ddr-multiple-button__first-button': index == 0,
          'ddr-multiple-button__intermediate-button':
          index > 0 && index < buttons.length - 1,
          'ddr-multiple-button__last-button': index == buttons.length - 1
          }"
          [text]="button.text | ddrTranslate"
          [icon]="button.icon"
          [tooltipText]="button.tooltipText"
          [size]="modeButtonsSize"
          [transparent]="transparent"
          (action)="clickButton(button)"
        ></ddr-button>
      }
    }
  </div>
}
