<base-showcase 
  component="ddr-textarea" 
  type="component" 
  [documentation]="documentation" 
  [showTemplates]="true" 
  [showInputsOutputs]="true"
  [showStyles]="true">

  <div description>
    <p>{{'textarea.description' | ddrTranslate}}</p>
  </div>

  <ng-template #example>
    <textarea-showcase-1 />
  </ng-template>
  
  <ng-template #example>
    <textarea-showcase-2 />
  </ng-template>

  <ng-template #example>
    <textarea-showcase-3 />
  </ng-template>

  <ng-template #example>
    <textarea-showcase-4 />
  </ng-template>

  <ng-template #example>
    <textarea-showcase-5 />
  </ng-template>

  <ng-template #example>
    <textarea-showcase-6 />
  </ng-template>

  <ng-template #example>
    <textarea-showcase-7 />
  </ng-template>

  <ng-template #example>
    <textarea-showcase-8 />
  </ng-template>

  <ng-template #example>
    <textarea-showcase-9 />
  </ng-template>

  <ng-template #example>
    <textarea-showcase-10 />
  </ng-template>

  <ng-template #example>
    <textarea-showcase-11 />
  </ng-template>

    <ng-template #example>
    <textarea-showcase-12 />
  </ng-template>

  <ng-template #example>
    <textarea-showcase-13 />
  </ng-template>

  <ng-template #example>
    <textarea-showcase-14 />
  </ng-template>

  <ng-template #example>
    <textarea-showcase-15 />
  </ng-template>

  <ng-template #example>
    <textarea-showcase-16 />
  </ng-template>

  <ng-template #example>
    <textarea-showcase-17 />
  </ng-template>

</base-showcase>