<base-showcase component="ddr-textarea" type="component" [showTemplates]="true" [showStyles]="true">

  <div description>
    <p>{{'textarea.description' | ddrTranslate}}</p>
  </div>

  <div examples>

<div class="row">
  <div class="col-12">
    <span class="h3">{{'textarea.example.1' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-textarea 
      [label]="'textarea.label' | ddrTranslate" 
      [placeholder]="'textarea.placeholder' | ddrTranslate"
      name="example-1" 
      [(ngModel)]="value1" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span>{{'textarea.value' | ddrTranslate}}: {{value1}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'textarea.example.2' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-textarea 
      [label]="'textarea.label' | ddrTranslate" 
      [placeholder]="'textarea.placeholder' | ddrTranslate"
      name="example-2" 
      [(ngModel)]="value2" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span>{{'textarea.value' | ddrTranslate}}: {{value2}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'textarea.example.3' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-textarea 
      [label]="'textarea.label' | ddrTranslate" 
      [placeholder]="'textarea.placeholder' | ddrTranslate"
      name="example-3" 
      [minlength]="3"
      [maxlength]="10" 
      [required]="true" 
      [validate]="true">

      <ng-template #templateValid>
        <span>{{'textarea.ok' | ddrTranslate}}</span>
      </ng-template>

      <ng-template #templateErrors let-errors="errors">
        @if (errors?.required) {
          <span>{{'textarea.value.required' | ddrTranslate}}</span>
        }
        @if(errors?.minlength){
          <span class="me-2">{{'textarea.minlength.required' | ddrTranslate}} {{ errors?.minlength.requiredLength }}</span>
          <span>{{'textarea.minlength.actual' | ddrTranslate}} {{ errors?.minlength?.actualLength }}</span>
        }
      </ng-template>
    </ddr-textarea>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'textarea.example.4' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-textarea 
      [label]="'textarea.label' | ddrTranslate" 
      [placeholder]="'textarea.placeholder' | ddrTranslate"
      name="example-4" 
      [inline]="true" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'textarea.example.5' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-textarea 
      [label]="'textarea.label' | ddrTranslate" 
      [placeholder]="'textarea.placeholder' | ddrTranslate"
      name="example-5"
      [rows]="15"
      [cols]="30" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'textarea.example.6' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-textarea 
      [label]="'textarea.label' | ddrTranslate" 
      [placeholder]="'textarea.placeholder' | ddrTranslate"
      name="example-6"
      [tooltipText]="'textarea.tooltip' | ddrTranslate" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'textarea.example.7' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-textarea 
      [label]="'textarea.label' | ddrTranslate" 
      [placeholder]="'textarea.placeholder' | ddrTranslate"
      name="example-7"
      [labelBold]="true" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'textarea.example.8' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-textarea 
      [label]="'textarea.label' | ddrTranslate" 
      [placeholder]="'textarea.placeholder' | ddrTranslate"
      name="example-8"
      (clickTextarea)="clickTextarea($event)"
      (keyPressed)="keyPressed($event)"
      (blur)="blur()" />
  </div>
</div>

  </div>

</base-showcase>