<div class="mt-3">
    <p>{{'small' | ddrTranslate}}</p>
    <ddr-button
        class="me-1"
        size="small"
        [text]="'button.text' | ddrTranslate"
        (action)="clickButton($event)" />
</div>

<div class="mt-3">
    <p>{{'medium' | ddrTranslate}}</p>
    <ddr-button
        class="me-1"
        size="medium"
        [text]="'button.text' | ddrTranslate"
        (action)="clickButton($event)" />
</div>

<div class="mt-3">
    <p>{{'large' | ddrTranslate}}</p>
    <ddr-button
        class="me-1"
        size="large"
        [text]="'button.text' | ddrTranslate"
        (action)="clickButton($event)" />
</div>
