<base-showcase 
  component="ddr-nested-property-pipe" 
  type="pipe" 
  [documentation]="documentation" 
  [showOutputs]="false" 
  [showParams]="true" 
  [showPossibleValues]="false"
  [showInputs]="false">

  <div description>
    <p>{{'nested.property.description' | ddrTranslate}}</p>
  </div>

  <ng-template #example>
    <nested-property-showcase-1 />
  </ng-template>

  <ng-template #example>
    <nested-property-showcase-2 />
  </ng-template>

  <ng-template #example>
    <nested-property-showcase-3 />
  </ng-template>

  <ng-template #example>
    <nested-property-showcase-4 />
  </ng-template>

  <ng-template #example>
    <nested-property-showcase-5 />
  </ng-template>

  <ng-template #example>
    <nested-property-showcase-6 />
  </ng-template>

  <ng-template #example>
    <nested-property-showcase-7 />
  </ng-template>

</base-showcase>