<base-showcase 
  component="ddr-button-multiple" 
  type="component" 
  [documentation]="documentation"
  [showInputsOutputs]="true" 
  [showStyles]="true">

  <div description>
    <p>{{'button.multiple.description' | ddrTranslate}}</p>
  </div>

  <ng-template #example>
    <button-multiple-showcase-1 />
  </ng-template>

  <ng-template #example>
    <button-multiple-showcase-2 />
  </ng-template>

  <ng-template #example>
    <button-multiple-showcase-3 />
  </ng-template>

  <ng-template #example>
    <button-multiple-showcase-4 />
  </ng-template>

  <ng-template #example>
    <button-multiple-showcase-5 />
  </ng-template>

  <ng-template #example>
    <button-multiple-showcase-6 />
  </ng-template>

</base-showcase>
