<base-showcase 
  component="ddr-progress-bar" 
  type="component" 
  [documentation]="documentation" 
  [showPossibleValues]="false" 
  [showOutputs]="false" 
  [showStyles]="true">

  <div description>
    <p>{{'progressbar.description' | ddrTranslate}}</p>
  </div>

  <ng-template #example>
    <progress-bar-showcase-1 />
  </ng-template>

  <ng-template #example>
    <progress-bar-showcase-2 />
  </ng-template>

  <ng-template #example>
    <progress-bar-showcase-3 />
  </ng-template>

  <ng-template #example>
    <progress-bar-showcase-4 />
  </ng-template>

  <ng-template #example>
    <progress-bar-showcase-5 />
  </ng-template>

  <ng-template #example>
    <progress-bar-showcase-6 />
  </ng-template>

</base-showcase>