<ddr-accordion 
    [titleAccordion]="'accordion.title' | ddrTranslate" 
    [slim]="true">
    <div content-accordion>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, fuga. Aliquam blanditiis similique commodi
            excepturi eveniet laudantium atque provident, ipsam modi quae sapiente! Molestiae numquam esse ducimus,
            sed velit a!
            Fugiat ipsam consequuntur ad exercitationem non amet aut sit perferendis quo error, culpa cupiditate
            quaerat maxime iure! Quae, illo quod modi autem earum repudiandae non recusandae, ullam numquam quisquam
            quam!
            Veritatis error praesentium illo inventore, nihil dicta! Impedit aperiam quisquam ex ipsum dolore at a
            dolorem, aliquam consequatur omnis pariatur nulla mollitia! Magnam illo soluta nemo vero quia et ea?
            In mollitia velit maxime qui ea. Suscipit, minus esse atque laborum nobis hic a eaque. Quos dolorum quae
            sed nisi iure totam assumenda voluptas, itaque, eius, earum repellendus! Perferendis, dolor?
            Voluptatum voluptates voluptatem vero id sequi rem dignissimos aspernatur laudantium quidem sit
            reprehenderit modi, incidunt tempora adipisci nobis. Officiis, ad inventore accusantium incidunt quod
            labore. Architecto facilis quaerat quidem consectetur!
        </p>
    </div>
</ddr-accordion>