/* Importaciones */

@use '../fonts.scss';
@use '../styles.scss';

/* Variables */

$primary: #4682b4;
$secondary: #6c757d;
$selected: #aefff48c;
$text-color-primary: #000;
$text-color-secondary: #FFF;
$surface: #f5f7fb;
$disabled: #cfcfcf;

/* Skeleton */

$skeleton-background: #000;

/* Tooltip */

$tooltip-color: #FFF;
$tooltip-background: #a9a9a9;

/* Panels */

$panel-background: #FFF;
$panel-color: #000;

/* Inputs */

$input-background: #FFF;
$input-color: #000;
$input-border-color: #6c757d;

/* Buttons */

$button-background: #4682b4;
$button-color: #FFF;
$button-border-color: #4682b4;

/* Conversation */

$conversation-background-human: #b9ffb9;
$conversation-color-human: #000;
$conversation-background-robot: #e7e7e7;
$conversation-color-robot: #000;

/* Gradients */

$gradient-color-1: #384554;
$gradient-color-2: #4682b4;
$gradient-color-3: #1e9fb0;

$gradientHorizontal: linear-gradient(90deg,
    $gradient-color-1 250px,
    $gradient-color-2 60%,
    $gradient-color-3 100%);
$gradientHorizontalMobile: linear-gradient(90deg,
    $gradient-color-1 30%,
    $gradient-color-2 60%,
    $gradient-color-3 100%);
$gradientVertical: linear-gradient(180deg,
    $gradient-color-1 0%,
    $gradient-color-2 60%,
    $gradient-color-3 100%);
$gradientSubmenu: linear-gradient(135deg,
    $gradient-color-1 0%,
    $gradient-color-2 60%,
    $gradient-color-3 100%);
$gradientHorizontalFooter: linear-gradient(270deg,
    $gradient-color-1 30%,
    $gradient-color-2 60%,
    $gradient-color-3 100%);
/* Estados */

$color-info: #0dcaf0;
$color-success: #28a745;
$color-danger: #dc3545;
$color-warning: #f0ad4e;

/* Fin variables */

.ddr-blue {

  color-scheme: light;
  background-color: #FFF;

  * {
    font-family: 'Cairo';
  }

  .ddr-background {
    background-color: $primary;
  }

  .ddr-background-hover {
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  .border-bottom-ddr {
    border-bottom: 1px solid $primary;
  }

  .active-link {
    border-left-color: #fff;
    color: #fff;
  }

  .color-info {
    color: $color-info;
  }

  .color-danger {
    color: $color-danger;
  }

  .color-warning {
    color: $color-warning;
  }

  .color-success {
    color: $color-success;
  }

  .skeleton {

    background-color: $skeleton-background;
    opacity: 0.2;
    background-image: linear-gradient(90deg,
        transparent 0%,
        rgba(255, 255, 255, 0.33) 50%,
        transparent 100%);
  }

  .ddr-tooltip {
    background: $tooltip-background;
    border: 1px solid $tooltip-background;
    color: $tooltip-color;

    &.ddr-tooltip--top::before {
      border-top-color: $tooltip-background;
    }

    &.ddr-tooltip--bottom::before {
      border-bottom-color: $tooltip-background;
    }

    &.ddr-tooltip--left::before {
      border-left-color: $tooltip-background;
    }

    &.ddr-tooltip--right::before {
      border-right-color: $tooltip-background;
    }
  }


  .drag-and-drop-border {
    border: 3px dashed #000;
  }

  /* Components */

  ddr-menu-item {
    .ddr-menu-item {

      &__sub-menu-vertical,
      &__sub-menu-horizontal {
        background: $gradientSubmenu;
      }
    }
  }

  ddr-accordion {
    .ddr-accordion {
      background-color: $panel-background;
    }
  }

  ddr-tabs {
    .ddr-tabs {
      &__title {
        &--selected {
          color: $primary;
          border-bottom: 1px solid $primary;
        }
      }
    }
  }

  ddr-checkbox {
    .ddr-checkbox {
      &__container {
        &--input {
          &--active {
            background-color: $primary;
            border: 1px solid $primary;
          }

          &--desactive {
            border: 1px solid #000;
          }

          &--icon {
            color: $text-color-secondary;
            display: inline-block;
          }
        }
      }
    }
  }

  ddr-radio {
    .ddr-radio {
      &__container {
        &--input {
          &--active {
            background-color: $primary;
            border: 1px solid $primary;
          }

          &--desactive {
            border: 1px solid #000;
          }

          &--icon {
            color: $text-color-secondary;
          }
        }
      }
    }
  }

  ddr-round-button {
    .ddr-round-button {
      &__container {
        &--input {
          border-color: $button-border-color;

          &--active {
            background-color: $button-background;
            border: 5px solid $button-border-color;
          }
        }
      }
    }
  }

  ddr-input {
    .ddr-input {
      &__input-container {

        &__label {
          color: $input-color;

          &--transparent {
            color: #FFF;
          }

        }

        &__input {

          background-color: $input-background;
          color: $input-color;

          &--transparent {
            background: transparent;
            color: #FFF;

            &:focus-visible {
              outline: none;
            }
          }

          &--border {
            border: 1px solid $input-border-color;
          }

          &--border-transparent {
            border: 1px solid #FFF;
          }

          &--disabled {
            background: $disabled !important;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            opacity: 1;
          }

          &.is-valid {
            border-color: $color-success;
          }

          &.is-invalid {
            border-color: $color-danger;
          }
        }
      }
    }
  }


  ddr-input-group {
    .ddr-input-group {
      &__button {
        &--is-valid {
          button {
            border-color: $color-success !important;
          }
        }

        &--is-invalid {
          button {
            border-color: $color-danger !important;
          }
        }
      }

      ddr-button {
        .btn-ddr {
          background-color: $input-background;

          &--disabled {
            background-color: $disabled !important;
          }

          &--border {
            border-color: $secondary;
          }

          i {
            color: $input-color;
          }

          &--transparent {
            background: transparent;
            border-color: #FFF;
            color: #FFF;

            i {
              color: #FFF;
            }
          }


        }
      }
    }

  }

  ddr-textarea {
    .ddr-textarea {
      &__textarea {
        background-color: $input-background;
        color: $input-color;
      }
    }
  }

  ddr-button {
    .btn-ddr {
      &--border {
        border-color: $button-border-color;
      }

      &--mode-default {
        border-color: $button-color;
        background: $button-background;
      }

      &--mode-save {
        color: $text-color-primary;
        border-color: $color-success;
        background: $color-success;
      }

      &--mode-danger {
        color: $text-color-primary;
        border-color: $color-danger;
        background: $color-danger;
      }

      &--disabled {
        color: $text-color-primary;
        border-color: $disabled;
        background: $disabled;
      }

      &--transparent {

        border-color: $text-color-primary;
        background: transparent;

        .btn-ddr--text,
        .btn-ddr--icon {
          color: $text-color-primary;
        }
      }

      &--text,
      &--icon {
        color: $text-color-secondary;
      }
    }
  }


  ddr-card {
    .ddr-card {
      background-color: $panel-background;
    }
  }

  ddr-toggle {
    .ddr-toggle {
      &__button {
        &--on {
          background: $color-success;
        }

        &--off {
          background: #afafaf;
        }
      }
    }
  }

  ddr-badge-pill {
    .ddr-badge {
      &--info {
        background: $primary;
        color: $text-color-secondary;
      }

      &--danger {
        background: $color-danger;
        color: $text-color-secondary;
      }

      &--warning {
        background: $color-warning;
        color: $text-color-secondary;
      }

      &--success {
        background: $color-success;
        color: $text-color-secondary;
      }

    }
  }

  ddr-progress-bar {
    .ddr-progress-bar {
      .progress-bar {
        background-color: $primary;
      }
    }
  }

  ddr-dropdown {

    .ddr-dropdown {

      &__panel-items {
        background-color: $panel-background;
        border: 1px solid #c8c8c8;

        &--search {
          &--input {
            border: 0;
            border-bottom: 1px solid #c8c8c8;
            background-color: $input-background;
            color: $input-color;
          }
        }

        &--no-results {
          color: $input-color;
        }

        &__item {
          &--active {
            background-color: $selected;
          }
        }

      }

      ul {
        border-color: #c8c8c8;

        li {
          color: #000;

          &:hover {
            background: $selected;
          }
        }
      }

      ddr-button {
        .btn-ddr {
          background: #FFF;

          i {
            color: #000;
          }

          &--transparent {
            background: transparent;
            border-color: #FFF;
            color: #FFF;

            i {
              color: #FFF;
            }
          }
        }
      }
    }

  }

  ddr-table {
    .ddr-table {

      ddr-button-split {
        ddr-button {
          .btn-ddr--icon {
            color: #FFF;
          }
        }
      }

      &__table {
        &--border {
          border-top: 1px solid #000;
          border-bottom: 1px solid #000;
        }

        &--body-row {

          &--hoveable:hover {
            background: $selected;
            cursor: pointer;
          }
        }
      }


    }
  }

  pagination-controls {
    .ngx-pagination {

      li {
        color: $text-color-primary;
      }

      li.current {
        background: $primary;
        color: $text-color-secondary;
      }
    }
  }

  ddr-chip {

    .ddr-chip {
      &__container {
        border: 1px solid $input-border-color;

        &__input input {
          background: $input-background;
          color: $text-color-primary;
        }
      }
    }


    ddr-chip-value {
      .ddr-chip-value {
        background: $primary;
        color: $text-color-secondary;
      }
    }
  }

  ddr-select-icon {

    .ddr-select-icon__icon {
      border: 1px solid $input-border-color;
    }

  }

  ddr-steps {
    .ddr-steps {
      &__horizontal {
        &__info-step {
          
          &__number-step {

            &--open {
              background-color: $primary;

              span {
                color: $text-color-secondary;
              }
            }

            &--closed {
              background-color: #7e7e7e;

              span {
                color: $text-color-secondary;
              }
            }
          }
        }

        &__line {
          border-bottom: 1px solid #000;
        }
      }

      &__vertical {
        &__info-step {
         
          &__number-step {

            &--open {
              background-color: $primary;

              span {
                color: $text-color-secondary;
              }
            }

            &--closed {
              background-color: #7e7e7e;

              span {
                color: $text-color-secondary;
              }
            }
          }
        }

      }

      &__template {
        &--line {
          border-left: 1px solid #000;
        }
      }

    }

  }

  ddr-detail {
    .ddr-detail {
      background: $primary;
      color: $text-color-secondary;

      ddr-dropdown {
        .ddr-input {
          &__input-container {
            &--label {
              color: $text-color-secondary;
            }
          }
        }
      }

    }
  }

  ddr-button-split {

    .ddr-button-split {

      color: $text-color-primary;

      &__options {

        background: $panel-background;
        color: $panel-color;

        ul {
          border: 1px solid $secondary;

          li {
            &:hover {
              background: $selected;
            }
          }
        }
      }

      &--transparent {
        ddr-button {
          .btn-ddr {
            border: 1px solid $secondary;

            &--text,
            &--icon {
              color: $text-color-primary;
            }

          }
        }
      }

      &--transparent.ddr-button-split--without-border {
        ddr-button {
          button {
            color: $text-color-secondary;
            border: 1px solid $secondary;
          }

          .btn-ddr {

            &--text,
            &--icon {
              color: $text-color-primary;
            }
          }
        }
      }

    }


  }

  ddr-login {
    .ddr-login {

      .card-body {
        background-color: $panel-background;
        border-color: $panel-color;
      }

    }
  }

  ddr-toast {
    .ddr-toast-container {
      &__ddr-toast {
        &--success {
          background-color: $color-success;
        }

        &--info {
          background-color: $color-info;
        }

        &--danger {
          background-color: $color-danger;
        }

        &--warning {
          background-color: $color-warning;

        }
      }
    }
  }

  ddr-modal {
    .ddr-modal {
      .card {
        background-color: $panel-background;
      }
    }
  }

  ddr-button-multiple {
    .ddr-button-multiple {
      &__selected {
        button {
          background-color: $selected;
          border-color: $selected;

          .btn-ddr--text,
          .btn-ddr--icon {
            color: $text-color-primary;
          }
        }
      }
    }
  }

  ddr-no-data {
    &__icon {
      color: $text-color-primary;
    }

    &__text {
      color: $text-color-primary;
    }
  }

  ddr-tree {
    .ddr-tree {
      background-color: #FFF;
      color: $panel-color;

      &.ddr-tree--transparent {
        background-color: transparent;
        color: #FFF;
      }

    }

  }

}