<base-showcase 
  component="ddr-loop-number-pipe" 
  type="pipe" 
  [documentation]="documentation" 
  [showInputs]="false" 
  [showParams]="true" 
  [showPossibleValues]="false"
  [showOutputs]="false">

  <div description>
    <p>{{'loop.number.description' | ddrTranslate}}</p>
  </div>

  <ng-template #example>
    <loop-number-showcase-1 />
  </ng-template>

  <ng-template #example>
    <loop-number-showcase-2 />
  </ng-template>

  <ng-template #example>
    <loop-number-showcase-3 />
  </ng-template>

  <ng-template #example>
    <loop-number-showcase-4 />
  </ng-template>

  <ng-template #example>
    <loop-number-showcase-5 />
  </ng-template>
  
  <ng-template #example>
    <loop-number-showcase-6 />
  </ng-template>

</base-showcase>