<ddr-accordion 
    [titleAccordion]="'accordion.title' | ddrTranslate">
    <div content-accordion>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita tempore magni quaerat voluptatem
            repudiandae, odio assumenda perspiciatis aspernatur! Libero similique dolores nesciunt ratione
            voluptatibus nobis, minima recusandae amet nam earum?
            Iure ratione alias incidunt dolores repellat asperiores, autem exercitationem aliquid quam voluptatem eos
            sint ea minima odit nisi quibusdam, cum optio minus qui mollitia a? Libero eveniet hic eum quos?
            Voluptas qui, tempore illo ea et, accusamus tempora beatae cupiditate magnam iusto, praesentium quia vel
            explicabo impedit hic aliquam dolorum aperiam. Nostrum nobis rem modi eum tempora, repudiandae sapiente
            ex!
            Repellendus, quaerat impedit, quasi sunt saepe molestiae excepturi fugit officia eveniet, ad hic ipsum
            minus dolor velit ipsa ut optio unde. Quam eaque optio laudantium suscipit animi praesentium voluptatum
            saepe?
            Necessitatibus iusto nemo ipsam eum excepturi aperiam nisi neque consequuntur libero distinctio? Molestias
            alias vero ullam eos velit numquam officiis dicta eligendi, nesciunt libero expedita distinctio fugiat
            harum quaerat. Suscipit.
        </p>
    </div>
</ddr-accordion>