<ddr-input-group
  class="ddr-input-password"
  [label]="label()"
  [ariaLabel]="ariaLabel()"
  [placeholder]="placeholder()"
  [icon]="iconPassword()"
  [(value)]="value" 
  [validate]="validate()"
  [inline]="inline()"
  [maxLength]="maxLength()"
  [minLength]="minLength()"
  [pattern]="pattern()"
  [required]="required()" 
  [readonly]="readonly()" 
  [disabled]="disabled()"
  [labelBold]="labelBold()"
  [name]="name()"
  [tooltipOrientation]="tooltipOrientation()"
  [tooltipText]="tooltipText()"
  [errors]="errors()"
  (action)="togglePassword()"
  (clickInput)="onClickInput($event)"
  (hasErrors)="onHasErrors($event)"
  (keyPressed)="onKeyup($event)">
  
    <ng-template #templateValid>
      <ng-container [ngTemplateOutlet]="templateValidOutside()" />
    </ng-template>

    <ng-template #templateErrors let-errors="errors">
      <ng-container [ngTemplateOutlet]="templateErrorsOutside()"
        [ngTemplateOutletContext]="{ errors }" />
    </ng-template>

</ddr-input-group>