<base-showcase component="ddr-tree" type="component" [showTranslations]="true" [showClasses]="true" [showTemplates]="true" [showPossibleValues]="false" [showStyles]="true" [showCodeCSS]="true">

  <div description>
    <p>{{'tree.description' | ddrTranslate}}</p>
  </div>

  <div examples>
      
<div class="row">
  <div class="col-12">
    <span class="h3">{{'tree.example.1' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-tree 
      [nodes]="nodesEx1" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'tree.example.2' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-tree 
      [nodes]="nodesEx2" 
      [border]="true" />
  </div>
</div>


<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'tree.example.3' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-tree
      [nodes]="nodesEx3" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'tree.example.4' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-tree
      [nodes]="nodesEx4" 
      (selectAction)="selectAction($event)" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'tree.example.5' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-tree 
      [nodes]="nodesEx5" 
      [actionsOnlyLeafs]="true"
      (selectAction)="selectAction($event)" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'tree.example.6' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-tree 
      [nodes]="nodesEx6" >
      <ng-template #templateNode let-item="item">
        <span class="ms-2">{{'tree.value' | ddrTranslate}}: {{ item.value }}</span>
      </ng-template>
    </ddr-tree>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'tree.example.7' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-tree 
      [nodes]="nodesEx7"
      (clickNode)="clickNode($event)" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'tree.example.8' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-tree 
      [nodes]="nodesEx8"
      [canClick]="false"
      (clickNode)="clickNode($event)" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'tree.example.9' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
     <ddr-tree 
      [nodes]="[]"
      [labelNoData]="'tree.empty' | ddrTranslate" />
  </div>
</div>


<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'tree.example.10' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12 background-test-transparent">
     <ddr-tree 
      [nodes]="nodesEx10"
      [transparent]="true" />
  </div>
</div>

  </div>

</base-showcase>