.ddr-checkbox {
    display: flex;

    &__container {

        height: 38px;
        display: flex;
        align-items: center;
        user-select: none;

        &--input {
            width: 26px;
            min-width: 26px;
            height: 26px;
            border-radius: 4px;
            cursor: pointer;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
            -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.75);
            box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.75);

            &--desactive {
                background: none;
            }

            &--disabled {
                cursor: default;
                opacity: 0.5;
            }

            &--icon {
                padding-top: 4px;
            }


        }

        &--label {
            display: inline-block;
            margin-left: 5px;
        }

    }


}