<div class="ddr-checkbox" [ngClass]="{'flex-row': inline,'flex-column': !inline}">
  @for (option of options; track option) {
    <div class="ddr-checkbox__container" [ngClass]="{'me-4': inline}">
      <div
        class="ddr-checkbox__container--input"
        [ngClass]="{
          'ddr-checkbox__container--input--active': option.selected, 'ddr-checkbox__container--input--desactive': !option.selected,
          'ddr-checkbox__container--input--disabled': disabled
        }"
        (click)="onClickCheck($event, option)">
        <i [hidden]="!option.selected" class="ddr-checkbox__container--input--icon bi bi-check" aria-hidden="true"></i>
      </div>
      @if (option.label) {
        <label class="ddr-checkbox__container--label">{{option.label | ddrTranslate}}</label>
      }
    </div>
  }
</div>