<base-showcase 
  component="ddr-toast-service" 
  type="service" 
  [documentation]="documentation" 
  [showInputs]="false" 
  [showService]="true" 
  [showOutputs]="false" 
  [showStyles]="true">

  <div description>
    <p>{{'toast.description' | ddrTranslate}}</p>
  </div>

  <ng-template #example>
    <toast-showcase-1 />
  </ng-template>

  <ng-template #example>
    <toast-showcase-2 />
  </ng-template>

  <ng-template #example>
    <toast-showcase-3 />
  </ng-template>
  
  <ng-template #example>
    <toast-showcase-4 />
  </ng-template>

  <ng-template #example>
    <toast-showcase-5 />
  </ng-template>

</base-showcase>