<base-showcase 
  component="ddr-chip" 
  type="component" 
  [documentation]="documentation" 
  [showStyles]="true" 
  [showInputsOutputs]="true"
  [showPossibleValues]="false">

  <div description>
    <p>{{'chip.description' | ddrTranslate}}</p>
  </div>

  <ng-template #example>
    <chip-showcase-1 />
  </ng-template>
    
  <ng-template #example>
    <chip-showcase-2 />
  </ng-template>

  <ng-template #example>
    <chip-showcase-3 />
  </ng-template>

  <ng-template #example>
    <chip-showcase-4 />
  </ng-template>

  <ng-template #example>
    <chip-showcase-5 />
  </ng-template>

  <ng-template #example>
    <chip-showcase-6 />
  </ng-template>

  <ng-template #example>
    <chip-showcase-7 />
  </ng-template>

  <ng-template #example>
    <chip-showcase-8 />
  </ng-template>

  <ng-template #example>
    <chip-showcase-9 />
  </ng-template>
    
  <ng-template #example>
    <chip-showcase-10 />
  </ng-template>
  
  <ng-template #example>
    <chip-showcase-11 />
  </ng-template>

  <ng-template #example>
    <chip-showcase-12 />
  </ng-template>

  <ng-template #example>
    <chip-showcase-13 />
  </ng-template>

</base-showcase>
