<base-showcase component="ddr-chip" type="component" [showStyles]="true" [showPossibleValues]="false">

  <div description>
    <p>{{'chip.description' | ddrTranslate}}</p>
  </div>

  <div examples>

<div class="row">
  <div class="col-12">
    <span class="h3">{{'chip.example.1' | ddrTranslate}}</span>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <p class="mt-2">{{'chip.enter' | ddrTranslate}}</p>
    <ddr-chip  
      [label]="'chip.example' | ddrTranslate"
      name="chip-1" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'chip.example.2' | ddrTranslate}}</span>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <ddr-chip 
      [label]="'chip.example' | ddrTranslate"
      [(ngModel)]="values"
      name="chip-2" />
  </div>
  <div class="col-12">
    <span>{{ values | json }}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'chip.example.3' | ddrTranslate}}</span>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <p class="mt-2">{{'chip.separator' | ddrTranslate}}</p>
    <ddr-chip 
      [label]="'chip.example' | ddrTranslate"
      separator=","
      name="chip-3" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'chip.example.4' | ddrTranslate}}</span>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <p class="mt-2">{{'chip.max.elements' | ddrTranslate}}</p>
    <ddr-chip 
      [label]="'chip.example' | ddrTranslate"
      [maxValues]="5"
      name="chip-4" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'chip.example.5' | ddrTranslate}}</span>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <ddr-chip 
      [label]="'chip.example' | ddrTranslate"
      [canDelete]="false"
      name="chip-5" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'chip.example.6' | ddrTranslate}}</span>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <ddr-chip 
      [label]="'chip.example' | ddrTranslate"
      (insertValue)="insertValue($event)"
      name="chip-6" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'chip.example.7' | ddrTranslate}}</span>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <ddr-chip 
      [label]="'chip.example' | ddrTranslate"
      (removeValue)="removeValue($event)"
      name="chip-7" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'chip.example.8' | ddrTranslate}}</span>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <ddr-chip 
      [label]="'chip.example' | ddrTranslate"
      (clickValue)="clickValue($event)"
      name="chip-8" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'chip.example.9' | ddrTranslate}}</span>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <ddr-chip 
      [label]="'chip.example' | ddrTranslate"
      (getValues)="getValues($event)"
      name="chip-9" />
  </div>
</div>

  </div>

</base-showcase>
