<ddr-input-group
    [label]="'small' | ddrTranslate"
    [placeholder]="'input.group.placeholder' | ddrTranslate"
    icon="bi bi-send"
    size="small"
    name="input-group-small-10" />

<ddr-input-group
    [label]="'medium' | ddrTranslate"
    [placeholder]="'input.group.placeholder' | ddrTranslate"
    icon="bi bi-send"
    size="medium"
    name="input-group-medium-10"  />

<ddr-input-group
    [label]="'large' | ddrTranslate"
    [placeholder]="'input.group.placeholder' | ddrTranslate"
    icon="bi bi-send"
    size="large"
    name="input-group-large-10"  />