<ddr-button-multiple
    [buttons]="buttonsOrientation()"
    [showSelectedButton]="true"
    [(value)]="tooltipOrientation" />

<p class="mt-3">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Dolor ab expedita vitae, neque libero <span ddrTooltip 
        tooltipText="suscipit voluptates"
        [tooltipUnderline]="true"
        [tooltipOrientation]="tooltipOrientation()">suscipit voluptates</span>. Dolor necessitatibus saepe pariatur similique sunt, ut et
    cumque culpa qui dignissimos atque aliquid!
</p>

  