<ddr-accordion 
    [titleAccordion]="'accordion.title' | ddrTranslate" 
    [open]="true">
    <div content-accordion>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, assumenda numquam dolore a, harum alias
            enim repellendus recusandae qui non illum consequatur. Quas culpa sunt ex illum molestias ipsam
            consectetur.
            Libero enim nesciunt vitae temporibus adipisci optio magni laudantium possimus rerum. Quos, odit, delectus
            soluta debitis facere dignissimos inventore ratione, eligendi amet in cumque eveniet? Possimus assumenda
            expedita asperiores sit.
            Reiciendis nisi error minima dicta libero voluptatum quod porro fugit sapiente aliquam eveniet totam
            accusamus voluptates, a commodi repellat nostrum beatae. Doloribus repudiandae provident dolore recusandae
            vero aliquid quae aspernatur!
            Animi veniam ex dolorem, recusandae voluptatibus inventore labore repellat voluptatem. Iure porro
            molestias reprehenderit eius, deserunt incidunt dicta ipsum ut ullam quidem illum voluptates, explicabo
            odio unde quis voluptatum necessitatibus.
            Nostrum saepe fuga reprehenderit est rerum ipsam cumque nihil officia mollitia, illo laudantium eveniet
            quas consequatur nulla, commodi excepturi officiis! Incidunt quas sunt praesentium eius sed, voluptatem
            repellendus fugiat assumenda?
        </p>
    </div>
</ddr-accordion>