<div class="ddr-input" [class.d-none]="type() == 'hidden'">
  <div class="ddr-input__input-container" [class.ddr-input__input-container--inline]="inline()">
    @if (label()) {
      <label [class]="{
        'ddr-input__input-container__label--inline': inline(),
        'ddr-input__input-container__label--transparent': transparent(),
        'fw-bold': labelBold()
        }" class="ddr-input__input-container__label user-select-none" [attr.for]="name()">
        {{ label() + (required() ? "(*)" : "") }}
        @if (tooltipText()) {
          <i
            class="bi bi-info-circle"
            ddrTooltip
            [tooltipOrientation]="tooltipOrientation()"
            [tooltipText]="tooltipText()">
          </i>
        }
      </label>
    }
    
<!-- 
      [min]="min()"
      [max]="max()"    
      [required]="required()"
      [attr.pattern]="htmlPattern()"
      [attr.maxlength]="maxlength()"
      [attr.minlength]="minlength()"
      [readonly]="readonly()"
      [disabled]="disabled()"
      [name]="name()"
-->

    <input #input
      class="ddr-input__input-container__input"
      [attr.id]="name()"
      [type]="type()"
      [placeholder]="placeholder()"
      
    
      [attr.autocomplete]="autocomplete()"
      [field]="value()"
      [class.is-valid]="validate() && dirty() && !errors()"
      [class.is-invalid]="validate() && dirty() && errors()"
      [class.w-100]="!inline()"
      [class.ddr-input__input-container__input--disabled]="disabled()"
      [class.ddr-input__input-container__input--border]="border()"
      [class.ddr-input__input-container__input--without-border]="!border()"
      [class.ddr-input__input-container__input--small]="size() == constants.SIZE.SMALL"
      [class.ddr-input__input-container__input--medium]="size() == constants.SIZE.MEDIUM"
      [class.ddr-input__input-container__input--large]="size() == constants.SIZE.LARGE"
      [class.ddr-input__input-container__input--inline]="inline()"
      [class.ddr-input__input-container__input--transparent.ddr-input__input-container__input--border-transparent]="transparent()"
      ddrSetFocus
      [focus]="focus()"
      (focusLost)="onFocusLost()"
      (keyup)="checkInput()"
      (click)="onclickInput($event)" />
    @if (validate() && dirty() && !errors()) {
      <div [class.w-auto]="inline()" [class.d-inline-block]="inline()" [class.mt-5]="inline()" [class.valid-feedback-inline]="inline()" class="valid-feedback">
        <ng-template #templateValid [ngTemplateOutlet]="templateValidOutside()"/>
      </div>
    }
    @if (validate() && dirty() && errors()) {
      <div [class.w-auto]="inline()" [class.d-inline-block]="inline()" [class.mt-5]="inline()" [class.invalid-feedback-inline]="inline()" class="invalid-feedback">
        <ng-template #templateErrors
          [ngTemplateOutlet]="templateErrorsOutside()"
          [ngTemplateOutletContext]="{ errors: errors() }" />
      </div>
    }
  </div>
</div>
