.ddr-input {

  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  background: none;
  display: inline-block;
  margin: 15px 0px;
  position: relative;

  &__input-container {

    &--inline {
      display: flex;
    }

    &__label {

      margin-bottom: 10px;

      &--inline {
        margin-top: 4px;
        margin-right: 10px;
        align-self: center;
        margin-bottom: 0px;
      }
    }

    .valid-feedback,
    .invalid-feedback {
      width: 100% !important;
      position: absolute;
    }

    &__input {

      outline: none;

      &[type=number]::-webkit-inner-spin-button,
      [type=number]::-webkit-outer-spin-button {
        display: none;
        -webkit-appearance: none;
        margin: 0;
      }

      &--inline {
        flex: 1;
      }

      &--border {
        border-radius: 4px;
      }

      &--without-border {
        border: none;
      }

      &--small {
        height: 28px;
        font-size: 12px;
      }

      &--medium {
        height: 38px;
        font-size: medium;
      }

      &--large {
        height: 48px;
        font-size: large;
      }

    }


  }
}