<base-showcase 
  component="ddr-accordion" 
  type="component" 
  [documentation]="documentation"
  [showPossibleValues]="false" 
  [showSlots]="true" 
  [showStyles]="true">

  <div description>
    <p>{{'accordion.description' | ddrTranslate}}</p>
  </div>

  <ng-template #example>
    <accordion-showcase-1 />
  </ng-template>

  <ng-template #example>
    <accordion-showcase-2 />
  </ng-template>

  <ng-template #example>
    <accordion-showcase-3 />
  </ng-template>

  <ng-template #example>
    <accordion-showcase-4 />
  </ng-template>

  <ng-template #example>
    <accordion-showcase-5 />
  </ng-template>

</base-showcase>