<base-showcase component="ddr-checkbox" type="component"  [showPossibleValues]="false" [showClasses]="true" [showStyles]="true">

  <div description>
    <p>{{'checkbox.description' | ddrTranslate}}</p>
  </div>

  <div examples>

<div class="row">
  <div class="col-12">
    <span class="h3">{{'checkbox.example.1' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-checkbox
      [options]="options1"
      [(ngModel)]="value1" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span>{{'checkbox.value' | ddrTranslate}}: {{value1 | json}}</span>
  </div>
</div>
  
<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'checkbox.example.2' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-checkbox
      [options]="options2"
      [(ngModel)]="value2" />
  </div>
</div>
  
<div class="row mt-3">
  <div class="col-12">
    <span>{{'checkbox.value' | ddrTranslate}}: {{value2 | json}}</span>
  </div>
</div>
  
<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'checkbox.example.3' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-checkbox
      [options]="options3"
      [(ngModel)]="value3" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span>{{'checkbox.value' | ddrTranslate}}: {{value3 | json}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'checkbox.example.4' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-checkbox
      [options]="options4"
      [(ngModel)]="value4" />
  </div>
</div>
  
<div class="row mt-3">
  <div class="col-12">
    <span>{{'checkbox.value' | ddrTranslate}}: {{value4 | json}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'checkbox.example.5' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-checkbox
      [options]="options5"
      [inline]="true"
      [(ngModel)]="value5" />
  </div>
</div>
  
<div class="row mt-3">
  <div class="col-12">
    <span>{{'checkbox.value' | ddrTranslate}}: {{value5 | json}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'checkbox.example.6' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-checkbox
      [options]="options6"
      [disabled]="true"
      [(ngModel)]="value6" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'checkbox.example.7' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-checkbox
      [options]="options7"
      (clickCheck)="clickCheck($event)" />
  </div>
</div>

  </div>

</base-showcase>


