<base-showcase 
  component="ddr-checkbox" 
  type="component" 
  [documentation]="documentation" 
  [showInputsOutputs]="true"
  [showPossibleValues]="false" 
  [showStyles]="true">

  <div description>
    <p>{{'checkbox.description' | ddrTranslate}}</p>
  </div>

  <ng-template #example>
    <checkbox-showcase-1 />
  </ng-template>

  <ng-template #example>
    <checkbox-showcase-2 />
  </ng-template>

  <ng-template #example>
    <checkbox-showcase-3 />
  </ng-template>

  <ng-template #example>
    <checkbox-showcase-4 />
  </ng-template>

  <ng-template #example>
    <checkbox-showcase-5 />
  </ng-template>

  <ng-template #example>
    <checkbox-showcase-6 />
  </ng-template>

  <ng-template #example>
    <checkbox-showcase-7 />
  </ng-template>

  <ng-template #example>
    <checkbox-showcase-8 />
  </ng-template>

  <ng-template #example>
    <checkbox-showcase-9 />
  </ng-template>
    
  <ng-template #example>
    <checkbox-showcase-10 />
  </ng-template>

  <ng-template #example>
    <checkbox-showcase-11 />
  </ng-template>

  <ng-template #example>
    <checkbox-showcase-12 />
  </ng-template>

  <ng-template #example>
    <checkbox-showcase-13 />
  </ng-template>

  <ng-template #example>
    <checkbox-showcase-14 />
  </ng-template>

</base-showcase>


