<div class="row">
  <div class="col-12">

    <ddr-card [showHeader]="false" [border]="false" [shadow]="false">
        <div card-content>
                    
          <div class="row">
            <div class="col-12 text-center">
              <h1>Changelog ddr-ng-library</h1>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <!-- <div markdown [src]="'./assets/changelog.md'"></div> -->
            </div>
          </div>          
          

        </div>
    </ddr-card>

  </div>
</div>