.ddr-toast-container {
  position: fixed;
  z-index: 9999;

  &--top-right {
    top: 10px;
    right: 10px;
  }

  &--top-left {
    top: 10px;
    left: 10px;
  }

  &--bottom-right {
    bottom: 10px;
    right: 10px;
  }

  &--bottom-left {
    bottom: 10px;
    left: 10px;
  }

  &__ddr-toast {

    @media (min-width: 568px) {
      width: 300px;
    }

    &--block {
      width: calc(100vw - 20px);
    }

    padding: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    max-width: 300px;
    -webkit-box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.75);

    &__title {
      padding-bottom: 5px;
      border-bottom: 1px solid #FFF;

      &__message {
        width: 270px;
        display: inline-block;
        font-size: 18px;
      }

      &__icon {
        width: 10px;
        display: inline-block;

      }

      i {
        cursor: pointer;
        position: absolute;
        right: 5px;
        font-size: 16px;
      }
    }

    &__content {
      padding: 5px 0px;
      font-size: 14px;
      word-wrap: break-word;
    }
  }
}