<div class="ddr-input" [class.d-none]="hidden()">
  <div class="ddr-input__input-container" [class.ddr-input__input-container--inline]="inline()">
    @if (label()) {
      <label 
        [class.ddr-input__input-container__label--inline]="inline()"
        [class.ddr-input__input-container__label--transparent]="transparent()"
        [class.fw-bold]="labelBold()" 
        class="ddr-input__input-container__label user-select-none" 
        [attr.for]="name()">
        {{ label() + (required() ? "(*)" : "") }}
        @if (tooltipText()) {
          <i
            class="bi bi-info-circle"
            ddrTooltip
            [tooltipOrientation]="tooltipOrientation()"
            [tooltipText]="tooltipText()">
          </i>
        }
      </label>
    }
    <input #input
      class="ddr-input__input-container__input"
      [attr.id]="name() ? name() : null"
      type="text"
      [attr.aria-label]="label() ? null : ariaLabel()"
      [attr.placeholder]="placeholder()"
      [attr.autocomplete]="autocomplete()"
      [attr.required]="required()"
      [attr.name]="name() ? name() : null"
      [readonly]="readonly()"
      [attr.pattern]="pattern().length ? pattern()[0].source : null"
      [attr.maxlength]="maxLength() ? maxLength() : null"
      [attr.minlength]="minLength() ? minLength() : null"
      [(value)]="value"
      [disabled]="disabled()"
      [class.is-valid]="validate() && dirtyInput() && valid()"
      [class.is-invalid]="validate() && dirtyInput() && !valid()"
      [class.w-100]="!inline()"
      [class.ddr-input__input-container__input--disabled]="disabled()"
      [class.ddr-input__input-container__input--border]="border()"
      [class.ddr-input__input-container__input--without-border]="!border()"
      [class.ddr-input__input-container__input--small]="size() == constants.SIZE.SMALL"
      [class.ddr-input__input-container__input--medium]="size() == constants.SIZE.MEDIUM"
      [class.ddr-input__input-container__input--large]="size() == constants.SIZE.LARGE"
      [class.ddr-input__input-container__input--inline]="inline()"
      [class.ddr-input__input-container__input--transparent]="transparent()"
      [class.ddr-input__input-container__input--border-transparent]="transparent()"
      ddrSetFocus
      [focus]="focus()"
      (input)="onInput($event)"
      (focusLost)="onFocusLost()"
      (keyup)="onKeyPressed()"
      (click)="onClickInput($event)" />
    @if (validate() && dirtyInput() && valid()) {
      <div class="valid-feedback"
        [class.w-auto]="inline()" 
        [class.d-inline-block]="inline()" 
        [class.mt-5]="inline()" 
        [class.valid-feedback-inline]="inline()">
        <ng-template #templateValid [ngTemplateOutlet]="templateValidOutside()"/>
      </div>
    }
    @if (validate() && dirtyInput() && !valid()) {
      <div class="invalid-feedback"
        [class.w-auto]="inline()" 
        [class.d-inline-block]="inline()" 
        [class.mt-5]="inline()" 
        [class.invalid-feedback-inline]="inline()">
        <ng-template #templateErrors
          [ngTemplateOutlet]="templateErrorsOutside()"
          [ngTemplateOutletContext]="{ errors: currentErrors }" />
      </div>
    }
  </div>
</div>
