<ddr-input-password
    [label]="'input.password.label' | ddrTranslate"
    [placeholder]="'input.password.placeholder' | ddrTranslate"
    [validate]="true"
    [formField]="inputPasswordForm.password" >

    <ng-template #templateValid>
        <span>{{'input.password.ok' | ddrTranslate}}</span>
    </ng-template>

    <ng-template #templateErrors let-errors="errors">
        @for (error of errors(); track error.kind) {
            @switch(error.kind){
                @case('minLength'){
                    <span class="me-2">{{'input.minlength.required' | ddrTranslate}} {{ error.minLength }}</span>
                }
                @case('maxLength'){
                    <span class="me-2">{{'input.maxlength.required' | ddrTranslate}} {{ error.maxLength }}</span>
                }
                @default{
                    <span class="me-2">{{ error.message | ddrTranslate }}</span>
                }
            }
        }
    </ng-template>

</ddr-input-password>