<base-showcase 
  component="ddr-toggle" 
  type="component" 
  [documentation]="documentation" 
  [showInputsOutputs]="true"
  [showStyles]="true">

  <div description>
    <p>{{'toggle.description' | ddrTranslate}}</p>
  </div>

  <ng-template #example>
    <toggle-showcase-1 />
  </ng-template>

  <ng-template #example>
    <toggle-showcase-2 />
  </ng-template>

  <ng-template #example>
    <toggle-showcase-3 />
  </ng-template>

  <ng-template #example>
    <toggle-showcase-4 />
  </ng-template>

  <ng-template #example>
    <toggle-showcase-5 />
  </ng-template>

  <ng-template #example>
    <toggle-showcase-6 />
  </ng-template>

  <ng-template #example>
    <toggle-showcase-7 />
  </ng-template>

  <ng-template #example>
    <toggle-showcase-8 />
  </ng-template>

  <ng-template #example>
    <toggle-showcase-9 />
  </ng-template>

  <ng-template #example>
    <toggle-showcase-10 />
  </ng-template>

</base-showcase>