<base-showcase component="ddr-toggle" type="component" [showStyles]="true">

  <div description>
    <p>{{'toggle.description' | ddrTranslate}}</p>
  </div>

  <div examples>

<div class="row">
  <div class="col-12">
    <span class="h3">{{'toggle.example.1' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-toggle 
      [(ngModel)]="value1" 
      (toggled)="toggleValue($event)" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <div class="col-12">
      <span>{{'toggle.value' | ddrTranslate}}: {{value1}}</span>
    </div>  
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'toggle.example.2' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-toggle 
      [label]="'toggle.label' | ddrTranslate" 
      [(ngModel)]="value2" 
      (toggled)="toggleValue($event)" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span>{{'toggle.value' | ddrTranslate}}: {{value2}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'toggle.example.3' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-toggle 
      [label]="'toggle.label' | ddrTranslate" 
      [inline]="true" 
      [(ngModel)]="value3" 
      (toggled)="toggleValue($event)" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span>{{'toggle.value' | ddrTranslate}}: {{value3}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'toggle.example.4' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-toggle 
      class="me-2"
      size="small" />
    <ddr-toggle 
      class="me-2"
      size="medium" />
    <ddr-toggle 
      class="me-2"
      size="large" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'toggle.example.5' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-toggle 
      [label]="'toggle.label' | ddrTranslate"
      [tooltipText]="'toggle.tooltip' | ddrTranslate"
      (toggled)="toggleValue($event)" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'toggle.example.6' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-toggle 
      [label]="'toggle.label' | ddrTranslate" 
      [(ngModel)]="value6" 
      (toggled)="toggleValue($event)" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span>{{'toggle.value' | ddrTranslate}}: {{value6}}</span>
  </div>
</div>
      
  </div>

</base-showcase>