<base-showcase 
  component="ddr-steps" 
  type="component" 
  [documentation]="documentation" 
  [hasComponentChild]="true" 
  [showPossibleValues]="false" 
  [showTranslations]="true" 
  [showTemplates]="true" 
  [showInputsOutputs]="true"
  [showStyles]="true">

  <div description>
    <p>{{'steps.description' | ddrTranslate}}</p>
  </div>

  <ng-template #example>
    <steps-showcase-1 />
  </ng-template>

  <ng-template #example>
    <steps-showcase-2 />
  </ng-template>

  <ng-template #example>
    <steps-showcase-3 />
  </ng-template>
  
  <ng-template #example>
    <steps-showcase-4 />
  </ng-template>

  <ng-template #example>
    <steps-showcase-5 />
  </ng-template>
  
  <ng-template #example>
    <steps-showcase-6 />
  </ng-template>

  <ng-template #example>
    <steps-showcase-7 />
  </ng-template>

  <ng-template #example>
    <steps-showcase-8 />
  </ng-template>

  <ng-template #example>
    <steps-showcase-9 />
  </ng-template>

  <ng-template #example>
    <steps-showcase-10 />
  </ng-template>

  <ng-template #example>
    <steps-showcase-11 />
  </ng-template>

  <ng-template #example>
    <steps-showcase-12 />
  </ng-template>

  <ng-template #example>
    <steps-showcase-13 />
  </ng-template>

</base-showcase>