<base-showcase component="ddr-steps" type="component" [hasComponentChild]="true" [showPossibleValues]="false" [showTranslations]="true" [showTemplates]="true" [showClasses]="true" [showStyles]="true">

  <div description>
    <p>{{'steps.description' | ddrTranslate}}</p>
  </div>

  <div examples>

<div class="row">
  <div class="col-12">
    <span class="h3">{{'steps.example.1' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-steps 
      [labelNext]="'steps.next' | ddrTranslate" 
      [labelPrevious]="'steps.previous' | ddrTranslate">

      <ddr-step [titleStep]="'step.1' | ddrTranslate" [canGoNext]="true">
        <ng-template #stepContent>
          <p>{{'step.1' | ddrTranslate}}</p>
        </ng-template>
      </ddr-step>
      <ddr-step [titleStep]="'step.2' | ddrTranslate" [canGoNext]="true">
        <ng-template #stepContent>
          <p>{{'step.2' | ddrTranslate}}</p>
        </ng-template>
      </ddr-step>
    </ddr-steps>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <span class="h3">{{'steps.example.2' | ddrTranslate}}</span>    
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-steps 
      [labelNext]="'steps.next' | ddrTranslate" 
      [labelPrevious]="'steps.previous' | ddrTranslate">

      <ddr-step [titleStep]="'step.1' | ddrTranslate" [canGoNext]="!!personExample2.name">
        <ng-template #stepContent>
          <ddr-input [label]="'step.name' | ddrTranslate" [(ngModel)]="personExample2.name" />
        </ng-template>
      </ddr-step>
      <ddr-step [titleStep]="'step.2' | ddrTranslate" [canGoNext]="!!personExample2.age">
        <ng-template #stepContent>
          <ddr-input [label]="'step.age' | ddrTranslate" [(ngModel)]="personExample2.age" />
        </ng-template>
      </ddr-step>

    </ddr-steps>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <span class="h3">{{'steps.example.3' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-steps 
      [labelNext]="'steps.next' | ddrTranslate" 
      [labelPrevious]="'steps.previous' | ddrTranslate"
      [canJumpStep]="true">

      <ddr-step [titleStep]="'step.1' | ddrTranslate" [canGoNext]="true">
        <ng-template #stepContent>
          <p>{{'step.1' | ddrTranslate}}</p>
        </ng-template>
      </ddr-step>
      <ddr-step [titleStep]="'step.2' | ddrTranslate" [canGoNext]="true">
        <ng-template #stepContent>
          <p>{{'step.2' | ddrTranslate}}</p>
        </ng-template>
      </ddr-step>
    </ddr-steps>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <span class="h3">{{'steps.example.4' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-steps 
      [labelNext]="'steps.next' | ddrTranslate" 
      [labelPrevious]="'steps.previous' | ddrTranslate"
      [vertical]="true"
      [canJumpStep]="true">

      <ddr-step [titleStep]="'step.1' | ddrTranslate" [canGoNext]="true">
        <ng-template #stepContent>
          <p>{{'step.1' | ddrTranslate}}</p>
        </ng-template>
      </ddr-step>
      <ddr-step [titleStep]="'step.2' | ddrTranslate" [canGoNext]="true">
        <ng-template #stepContent>
          <p>{{'step.2' | ddrTranslate}}</p>
        </ng-template>
      </ddr-step>
      <ddr-step [titleStep]="'step.3' | ddrTranslate" [canGoNext]="true">
        <ng-template #stepContent>
          <p>{{'step.3' | ddrTranslate}}</p>
        </ng-template>
      </ddr-step>

    </ddr-steps>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <span class="h3">{{'steps.example.5' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-steps 
      [labelNext]="'steps.next' | ddrTranslate" 
      [labelPrevious]="'steps.previous' | ddrTranslate"
      [canJumpStep]="true"
      (changeStep)="changeStep($event)">

      <ddr-step [titleStep]="'step.1' | ddrTranslate" [canGoNext]="true">
        <ng-template #stepContent>
          <p>{{'step.1' | ddrTranslate}}</p>
        </ng-template>
      </ddr-step>
      <ddr-step [titleStep]="'step.2' | ddrTranslate" [canGoNext]="true">
        <ng-template #stepContent>
          <p>{{'step.2' | ddrTranslate}}</p>
        </ng-template>
      </ddr-step>
    </ddr-steps>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <span class="h3">{{'steps.example.6' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-steps 
      [labelNext]="'steps.next' | ddrTranslate" 
      [labelPrevious]="'steps.previous' | ddrTranslate"
      [canJumpStep]="true"
      (lastStep)="lastStep()">

      <ddr-step [titleStep]="'step.1' | ddrTranslate" [canGoNext]="true">
        <ng-template #stepContent>
          <p>{{'step.1' | ddrTranslate}}</p>
        </ng-template>
      </ddr-step>
      <ddr-step [titleStep]="'step.2' | ddrTranslate" [canGoNext]="true">
        <ng-template #stepContent>
          <p>{{'step.2' | ddrTranslate}}</p>
        </ng-template>
      </ddr-step>
    </ddr-steps>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <span class="h3">{{'steps.example.7' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-steps 
      [showButtons]="false">

      <ddr-step [titleStep]="'step.1' | ddrTranslate" [canGoNext]="true">
        <ng-template #stepContent>
          <p>{{'step.1' | ddrTranslate}}</p>
        </ng-template>
      </ddr-step>
      <ddr-step [titleStep]="'step.2' | ddrTranslate" [canGoNext]="true">
        <ng-template #stepContent>
          <p>{{'step.2' | ddrTranslate}}</p>
        </ng-template>
      </ddr-step>

    </ddr-steps>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <span class="h3">{{'steps.example.8' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-steps 
      [labelNext]="'steps.next' | ddrTranslate" 
      [labelPrevious]="'steps.previous' | ddrTranslate"
      [validateIcon]="true">
      
      <ddr-step [titleStep]="'step.1' | ddrTranslate" [canGoNext]="!!personExample8.name">
        <ng-template #stepContent>
          <ddr-input [label]="'step.name' | ddrTranslate" [(ngModel)]="personExample8.name" />
        </ng-template>
      </ddr-step>
      <ddr-step [titleStep]="'step.2' | ddrTranslate" [canGoNext]="!!personExample8.age">
        <ng-template #stepContent>
          <ddr-input [label]="'step.age' | ddrTranslate" [(ngModel)]="personExample8.age" />
        </ng-template>
      </ddr-step>

    </ddr-steps>
  </div>
</div>

  </div>

</base-showcase>