<div class="row">
    <div class="col-12">

        <ddr-card [showHeader]="false" [border]="false" [shadow]="false">
            <div card-content>
                        
                <div class="row">
                    <div class="col-12 title-ddr">
                        <span>¿Que es la biblioteca de componentes de ddr?</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <span>Es un conjunto de componentes/servicios reutilizables para nuestros proyectos.</span>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12 title-ddr">
                        <span>Como instalar la biblioteca ddr</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <span>Para instalar la biblioteca ddr, realizar el siguiente comando:</span>
                        <pre class="language-html"><code class="language-html" DdrHighlightCode ngNonBindable>npm i &#64;ddr/ddr-frontend-library</code></pre>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 title-ddr">
                        <span>¿Que debemos incluir en el fichero angular.json?</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <span>Añadiremos lo siguiente en styles:</span>

        <pre class="language-html"><code class="language-html" DdrHighlightCode ngNonBindable>"node_modules/bootstrap/dist/css/bootstrap.min.css",
"node_modules/&#64;ddr/ddr-frontend-library/resources/reset.scss",
"node_modules/&#64;ddr/ddr-frontend-library/resources/fonts.scss",
"node_modules/&#64;ddr/ddr-frontend-library/resources/styles.scss",
"node_modules/&#64;ddr/ddr-frontend-library/resources/themes/ddr-blue.scss",
"node_modules/bootstrap/dist/css/bootstrap.min.css",
"node_modules/bootstrap-icons/font/bootstrap-icons.css",
"src/styles.scss"</code></pre>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <span>Añadiremos lo siguiente en scripts:</span>

        <pre class="language-html"><code class="language-html" DdrHighlightCode ngNonBindable>"node_modules/jquery/dist/jquery.min.js",
"node_modules/bootstrap/dist/js/bootstrap.min.js"</code></pre>
                    </div>
                </div>

            </div>
        </ddr-card>


    </div>
</div>