<base-showcase 
  component="ddr-paginator" 
  type="component" 
  [documentation]="documentation"
  [showTranslations]="true"
  [showInputsOutputs]="true"
  [showStyles]="true">

  <div description>
    <p>{{'paginator.description' | ddrTranslate}}</p>
  </div>

  <ng-template #example>
    <paginator-showcase-1 />
  </ng-template>

  <ng-template #example>
    <paginator-showcase-2 />
  </ng-template>
  
  <ng-template #example>
    <paginator-showcase-3 />
  </ng-template>  

  <ng-template #example>
    <paginator-showcase-4 />
  </ng-template>

  <ng-template #example>
    <paginator-showcase-5 />
  </ng-template>  
  
  <ng-template #example>
    <paginator-showcase-6 />
  </ng-template>  
  
  <ng-template #example>
    <paginator-showcase-7 />
  </ng-template>

  <ng-template #example>
    <paginator-showcase-8 />
  </ng-template>

  <ng-template #example>
    <paginator-showcase-9 />
  </ng-template>

  <ng-template #example>
    <paginator-showcase-10 />
  </ng-template>

  <ng-template #example>
    <paginator-showcase-11 />
  </ng-template>
    
  <ng-template #example>
    <paginator-showcase-12 />
  </ng-template>

  <ng-template #example>
    <paginator-showcase-13 />
  </ng-template>

  <ng-template #example>
    <paginator-showcase-14 />
  </ng-template>

</base-showcase>