<base-showcase 
  component="ddr-table" 
  type="component" 
  [documentation]="documentation" 
  [showTemplates]="true" 
  [showTranslations]="true" 
  [showPossibleValues]="false" 
  [showStyles]="true">

  <div description>
    <p>{{'table.description' | ddrTranslate}}</p>
  </div>

  <ng-template #example>
    <table-showcase-1 />
  </ng-template>

  <ng-template #example>
    <table-showcase-2 />
  </ng-template>
  
  <ng-template #example>
    <table-showcase-3 />
  </ng-template>
  
  <ng-template #example>
    <table-showcase-4 />
  </ng-template>
  
  <ng-template #example>
    <table-showcase-5 />
  </ng-template>
  
  <ng-template #example>
    <table-showcase-6 />
  </ng-template>
  
  <ng-template #example>
    <table-showcase-7 />
  </ng-template>
  
  <ng-template #example>
    <table-showcase-8 />
  </ng-template>
  
  <ng-template #example>
    <table-showcase-9 />
  </ng-template>
  
  <ng-template #example>
    <table-showcase-10 />
  </ng-template>
  
  <ng-template #example>
    <table-showcase-11 />
  </ng-template>

</base-showcase>