<ddr-radio 
    [options]="options()" 
    [inline]="true" 
    [(value)]="mode" />

<div class="mt-3 mb-3">
    <ddr-button 
        [text]="'skeleton.load.data' | ddrTranslate" 
        (action)="loadData()" />
</div>

<ddr-card [showHeader]="false">

    <div card-content>
        @if (!load()) {
            <div>
                @switch(mode()) {
                    @case('circle') {
                        <div class="mb-2" ddrSkeleton skeletonWidth="50px"  skeletonBorderRadius="50%" skeletonHeight="3rem">
                        </div>
                    }
                    @case('rectangle') {
                        <div class="mb-2" ddrSkeleton skeletonHeight="3rem">
                        </div>
                    }
                    @case('square') {
                        <div class="mb-2" ddrSkeleton skeletonWidth="50px"  skeletonHeight="3rem">
                        </div>
                    }
                    @case('card') {
                        <div>
                            <div class="row mb-3">
                                <div class="col-2 text-center">
                                    <div ddrSkeleton skeletonWidth="80px" skeletonBorderRadius="50%" skeletonHeight="5rem"></div>
                                </div>
                                <div class="col-10">
                                    <div>
                                        <div class="mb-3" ddrSkeleton skeletonHeight="1rem"></div>
                                    </div>
                                    <div>
                                        <div class="mb-3" ddrSkeleton skeletonHeight="1rem"></div>
                                    </div>
                                    <div>
                                        <div ddrSkeleton skeletonHeight="1rem"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12">
                                    <div class="mb-3" ddrSkeleton skeletonHeight="2rem"></div>
                                </div>
                            </div>
                        </div>
                    }
                    @case('list') {
                        <div>
                            <div class="mb-3 d-flex flex-nowrap">
                                <div class="flex-grow-0 ">
                                    <div ddrSkeleton skeletonWidth="50px" skeletonBorderRadius="50%" skeletonHeight="3rem"></div>
                                </div>
                                <div class="flex-grow-1">
                                    <div class="mb-3" ddrSkeleton  skeletonWidth="100%" skeletonHeight="1rem"></div>
                                    <div ddrSkeleton skeletonWidth="100%"  skeletonHeight="1rem"></div>
                                </div>
                            </div>
                        </div>
                    }
                    @case('graphic') {
                        <div class="d-flex flex-nowrap align-items-end">
                            <div class="ms-1 flex-grow-1" ddrSkeleton  skeletonWidth="10%" skeletonHeight="16rem"></div>
                            <div class="ms-1 flex-grow-1" ddrSkeleton skeletonWidth="10%" skeletonHeight="3rem"></div>
                            <div class="ms-1 flex-grow-1" ddrSkeleton  skeletonWidth="10%" skeletonHeight="12rem"></div>
                            <div class="ms-1 flex-grow-1" ddrSkeleton  skeletonWidth="10%" skeletonHeight="9rem"></div>
                        </div>
                    }
                }
            </div>
        } @else {
            <p>{{'skeleton.data.loaded' | ddrTranslate}}</p>
        }
    </div>
</ddr-card>