<ddr-input-group
    [label]="'input.group.label' | ddrTranslate"
    [placeholder]="'input.group.placeholder' | ddrTranslate"
    icon="bi bi-send"
    [minLength]="5"
    [maxLength]="20"
    [validate]="true"
    name="input-group-8">

        <ng-template #templateValid>
            <span>{{'input.ok' | ddrTranslate}}</span>
        </ng-template>

        <ng-template #templateErrors let-errors="errors">
            @for (error of errors(); track error.kind) {
                @switch(error.kind){
                    @case('minLength'){
                         <span>{{ 'input.input.minlength' | ddrTranslate }}</span>
                    }
                    @case('maxLength'){
                        <span>{{ 'input.input.minlength' | ddrTranslate }}</span>
                    }
                }
            }
        </ng-template>

</ddr-input-group>