<div class="row h-100">
    <div class="col-12 ">
        
        @if(transparent){
            @for(menuItem of menuItems; track menuItem){      
                <ddr-tree
                    [open]="true"
                    [transparent]="transparent"
                    [nodes]="[menuItem]"
                    (clickNode)="goTo($event)"/>
            }
        }@else{
            
        <ddr-card [showHeader]="false">

            <div card-content>
                @for(menuItem of menuItems; track menuItem){      
                    <ddr-tree
                        [open]="true"
                        [nodes]="[menuItem]"
                        (clickNode)="goTo($event)"/>
                }
            </div>

        </ddr-card>
        }

    </div>
</div>