<div class="row position-fixed h-100 overflow-y-auto">
    <div class="col-12 ">

        <div class="row">
            <div class="col-12">
                <span>LOGO</span>
            </div>
        </div>

        <div class="row">
            <div class="col-12">

                @for(menuItem of menuItems; track menuItem){      
                    <ddr-treeview
                        [open]="true"    
                    [nodes]="[menuItem]"
                    (clickNode)="goTo($event)"/>
                }

            </div>
        </div>

     
    </div>
</div>