<div class="row position-fixed h-100 overflow-y-auto">
    <div class="col-12 ">

        <div class="row">
            <div class="col-12">
                <span>LOGO</span>
            </div>
        </div>

        <div class="row">
            <div class="col-12">

                @for(menuItem of menuItems; track menuItem){      
                    <ddr-treeview
                        [open]="true"    
                    [nodes]="[menuItem]"
                    (clickNode)="goTo($event)"/>
                }

                




                <!-- <ul>
                    @for(menuItem of menuItems; track menuItem){         
                        <li class="ms-3">
                            <i [class]="menuItem.icon"></i>
                            <span class="ms-2">{{menuItem.text}}</span>
                            <ul>
                                @for(menuItemChild of menuItem.children; track menuItemChild){
                                    <li class="ms-5" [routerLink]="menuItemChild.route">
                                       
                                        <span>{{menuItemChild.text}}</span></li>
                                }
                            </ul>
                        </li>
                        
                    }
                    </ul> -->
            </div>
        </div>

     
    </div>
</div>