.ddr-badge-notification{
    .ddr-badge {
        margin: 0;
        border-radius: 50%;
        text-align: center;
        width: 22px;
        height: 22px;
        padding: 0;
        padding-top: 5px;
    }
}