<base-showcase component="ddr-radio" type="component" [showClasses]="true" [showPossibleValues]="false" [showStyles]="true">

  <div description>
    <p>{{'radio.description' | ddrTranslate}}</p>
  </div>

  <div examples>

<div class="row">
  <div class="col-12">
    <span class="h3">{{'radio.example.1' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h5">{{'without.form.signal' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-radio
      [options]="options1"
      [(value)]="value1"
      (clickRadio)="clickRadio($event)" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span>{{'radio.value' | ddrTranslate}}: {{value1 | json}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h5">{{'with.form.signal' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-radio
      [options]="options1FormSignals"
      [field]="formRadioEx1.example1"
      (clickRadio)="clickRadio($event)" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span>{{'radio.value' | ddrTranslate}}: {{formRadioEx1.example1().value()}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'radio.example.2' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-radio
      [options]="options2"
      [(value)]="value2"
      (clickRadio)="clickRadio($event)" />
  </div>
</div>
  
<div class="row mt-3">
  <div class="col-12">
    <span>{{'radio.value' | ddrTranslate}}: {{value2 | json}}</span>
  </div>
</div>
    
<div class="row mt-3">
  <div class="col-12">
      <span class="h3">{{'radio.example.3' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-radio
      [options]="options3"
      [compareFn]="compareFn"
      [(value)]="value3"
      (clickRadio)="clickRadioObject($event)" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span>{{'radio.value' | ddrTranslate}}: {{value3 | json}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'radio.example.4' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-radio
      [options]="options4"
      [compareFn]="compareFn"
      [(value)]="value4"
      (clickRadio)="clickRadioObject($event)" />
  </div>
</div>
  
<div class="row mt-3">
  <div class="col-12">
    <span>{{'radio.value' | ddrTranslate}}: {{value4 | json}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'radio.example.5' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-radio
      [options]="options5"
      [inline]="true"
      [compareFn]="compareFn"
      [(value)]="value5"
      (clickRadio)="clickRadioObject($event)" />
  </div>
</div>
  
<div class="row mt-3">
  <div class="col-12">
    <span>{{'radio.value' | ddrTranslate}}: {{value5 | json}}</span>
  </div>
</div>

  </div>

</base-showcase>


