<base-showcase component="ddr-radio" type="component" [showClasses]="true" [showPossibleValues]="false" [showStyles]="true">

  <div description>
    <p>{{'radio.description' | ddrTranslate}}</p>
  </div>

  <div examples>

<div class="row">
  <div class="col-12">
    <span class="h3">{{'radio.example.1' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-radio
      [options]="options1"
      [(ngModel)]="value1"
      (clickRadio)="clickRadio($event)" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span>{{'radio.value' | ddrTranslate}}: {{value1 | json}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'radio.example.2' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-radio
      [options]="options2"
      [(ngModel)]="value2"
      (clickRadio)="clickRadio($event)" />
  </div>
</div>
  
<div class="row mt-3">
  <div class="col-12">
    <span>{{'radio.value' | ddrTranslate}}: {{value2 | json}}</span>
  </div>
</div>
    
<div class="row mt-3">
  <div class="col-12">
      <span class="h3">{{'radio.example.3' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-radio
      [options]="options3"
      [(ngModel)]="value3"
      (clickRadio)="clickRadioObject($event)" />
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span>{{'radio.value' | ddrTranslate}}: {{value3 | json}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'radio.example.4' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-radio
      [options]="options4"
      [(ngModel)]="value4"
      (clickRadio)="clickRadioObject($event)" />
  </div>
</div>
  
<div class="row mt-3">
  <div class="col-12">
    <span>{{'radio.value' | ddrTranslate}}: {{value4 | json}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <span class="h3">{{'radio.example.5' | ddrTranslate}}</span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <ddr-radio
      [options]="options5"
      [inline]="true"
      [(ngModel)]="value5"
      (clickRadio)="clickRadioObject($event)" />
  </div>
</div>
  
<div class="row mt-3">
  <div class="col-12">
    <span>{{'radio.value' | ddrTranslate}}: {{value5 | json}}</span>
  </div>
</div>

  </div>

  <div outputs>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Valor devuelto</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>clickRadio</td>
          <td>Evento al pulsar el radio</td>
          <td>T</td>
        </tr>
      </tbody>
    </table>
  </div>

</base-showcase>


