.ddr-steps {

    &__horizontal{

        display: flex;
        height: 36px;

        &__info-step {

            display: flex;
            padding: 0px 10px;
            align-items: center;
    
            &--hover:hover {
                cursor: pointer;
                background-color: #f8f8f8;
            }
    
            &__number-step {
    
                flex: 1;
                display: inline-block;
                width: 24px;
                max-width: 24px;
                height: 24px;
                position: relative;
                border-radius: 50%;
                margin-bottom: -5px;
                user-select: none;
    
                span {
                    display: inline-block;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
    
            &__title-step {
    
                flex: 1;
                display: inline-block;
                width: calc(100% - 30px);
                padding-left: 15px;
    
                span {
                    display: inline-block;
                    font-size: 24px;
                }
            }

           
        }

        &__line {
            flex: 3;
            height: 50%;
        }
    }
    
    &__vertical{
        &__info-step {

            padding: 0px 10px;
    
            &--hover:hover {
                cursor: pointer;
                background-color: #f8f8f8;
            }
    
            &__number-step {
    
                display: inline-block;
                width: 24px;
                height: 24px;
                position: relative;
                border-radius: 50%;
                margin-bottom: -5px;
                user-select: none;
    
                span {
                    display: inline-block;
                    color: #FFF;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
    
            &__title-step {
    
                display: inline-block;
                width: calc(100% - 30px);
                padding-left: 15px;
    
                span {
                    display: inline-block;
                    font-size: 24px;
                }
            }
        }
    }

    &__template {
       
        position: relative;
        margin-left: 22px;
        min-height: 20px;

        &--line::before {
            content: "";
            position: absolute;
            left: 0;
            height: 100%;
            opacity: 0.2;
        }

        &__content{

            display: inline-block;
            width: calc(100% - 30px);
            padding-left: 30px;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        
    }

}
