<base-showcase 
  component="ddr-spinner-block-directive" 
  type="directive" 
  [documentation]="documentation" 
  [showOutputs]="false" 
  [showPossibleValues]="false"
  [showStyles]="true">

  <div description>
    <p>{{'spinner.block.description' | ddrTranslate}}</p>
  </div>

  <ng-template #example>
    <spinner-block-showcase-1 />
  </ng-template>

  <ng-template #example>
    <spinner-block-showcase-2 />
  </ng-template>

  <ng-template #example>
    <spinner-block-showcase-3 />
  </ng-template>

  <ng-template #example>
    <spinner-block-showcase-4 />
  </ng-template>

</base-showcase>