<div class="ddr-dropdown user-select-none" 
  [class.d-inline-block]="inline()"
  [class.ddr-dropdown--selectionable]="!disabled()">
  <!-- Option orientations TOP -->
  @if (showItems() && orientation() == constants.ORIENTATION_DROPDOWN.TOP) {
    <div class="ddr-dropdown__panel-items ddr-dropdown__panel-items--top"
      [class.ddr-dropdown__panel-items--modal]="modalOptions()"
      [@overlayAnimationTop]="{ value: 'visible' }">
      <ng-container [ngTemplateOutlet]="commonTemplate" />
    </div>
  }
  <ddr-input-group
    [label]="label()"
    [inline]="inline()"
    [icon]="iconOrientation()"
    [placeholder]="placeholder()"
    [readonly]="true"
    [required]="required()"
    [disabled]="disabled()"
    [dirty]="true"
    [errors]="errors()"
    [value]="textInput() || valueShow()"
    [validate]="validate()" 
    [tooltipOrientation]="tooltipOrientation()"
    [tooltipText]="tooltipText()"
    [size]="size()"
    [transparent]="transparent()"
    [name]="name()"
    (action)="togglePanelOptions()"
    (clickInput)="togglePanelOptions()" >

    <ng-template #templateValid>
      <ng-container [ngTemplateOutlet]="templateValidOutside()" />
    </ng-template>

    <ng-template #template let-errors="errors">
      <ng-container [ngTemplateOutlet]="templateErrorsOutside()"
        [ngTemplateOutletContext]="{ errors }" />
    </ng-template>

  </ddr-input-group>
  <!-- Option orientations BOTTOM -->
  @if (showItems() && orientation() == constants.ORIENTATION_DROPDOWN.BOTTOM) {
    <div
      class="ddr-dropdown__panel-items" 
      [class.ddr-dropdown__panel-items--modal]="modalOptions()" 
      [@overlayAnimationBottom]="{ value: 'visible' }">
      <ng-container [ngTemplateOutlet]="commonTemplate" />
    </div>
  }
  <!-- Common template orientation BOTTOM and TOP -->
  <ng-template #commonTemplate>
    <div ddrClickOutside (clickOutside)="hidePanelItems()">
      <div class="ddr-dropdown__panel-items--search">
        @if (showFilter() && options().length > 0) {
          <input type="text" [formField]="filterForm.filter"
            class="form-control ddr-dropdown__panel-items--search--input" [placeholder]="labelPlaceholderFilter() | ddrTranslate" />
        }
      </div>
      @if (optionsShow().length === 0) {
        <div [class.ddr-dropdown__panel-items--no-results--no-filter]="!showFilter()" class="ddr-dropdown__panel-items--no-results">
          <span>{{ labelNoResults() || ('dropdown.no.results' | ddrTranslate) }}</span>
        </div>
      } @else {
        <ul [class.ddr-dropdown__panel-items__with-filter]="showFilter()">

          @for (item of optionsShow(); track item.value; let index = $index) {
            <li class="d-flex align-items-center cursor-pointer  ddr-dropdown__panel-items__item" [class.ddr-dropdown__panel-items__item--active]="item.selected" (click)="onSelectItem(item)">
              
              @if(itemTemplateOutside()){
                <ng-container 
                  [ngTemplateOutlet]="itemTemplateOutside()" 
                  [ngTemplateOutletContext]="{ item }"/>
              }@else{
                <ng-container 
                  [ngTemplateOutlet]="defaultItemTemplate" 
                  [ngTemplateOutletContext]="{ item }"/>
              }
              
              <ng-template #defaultItemTemplate let-item="item">
                {{ translate() ? (item?.label | ddrTranslate) : item?.label }}
              </ng-template>
            </li>
          }
        </ul>
      }
    </div>
  </ng-template>
</div>
@if (modalOptions() && showItems()) {
  <div class="ddr-overlay" (click)="hidePanelItems()"></div>
}