<div class="ddr-dropdown user-select-none" [ngClass]="{
  'd-inline-block': inline, 
  'ddr-dropdown--selectionable': !disabled
}">
  <!-- Option orientations TOP -->
  @if (showItems && orientation == constants.ORIENTATION_DROPDOWN.TOP) {
    <div class="ddr-dropdown__panel-items"
      [ngClass]="{'ddr-dropdown__panel-items--touchUI': touchUI}"
      [ngStyle]="{'top.px': showFilter ? ((optionsShow.length * -15) <= -180 ? -120 : (optionsShow.length * -15) - 40) : ((optionsShow.length * -15) <= -180 ? -180 : (optionsShow.length * -15) - 40 )}"
      [@overlayAnimationTop]="{ value: 'visible' }">
      <ng-container [ngTemplateOutlet]="commonTemplate"></ng-container>
    </div>
  }
  <ddr-input-group
    [label]="label"
    [inline]="inline"
    icon="bi bi-caret-down-fill"
    [placeholder]="placeholder"
    [readonly]="true"
    [required]="required"
    [disabled]="disabled"
    [(ngModel)]="valueShow"
    [validate]="validate" 
    [orientationTooltip]="orientationTooltip"
    [tooltipText]="tooltipText"
    (action)="togglePanelOptions()"
    (clickInput)="togglePanelOptions()" >

    <ng-template #templateValid>
      <ng-container [ngTemplateOutlet]="templateValidOutside"></ng-container>
    </ng-template>

    <ng-template #templateErrors let-errors="errors">
      <ng-container 
        [ngTemplateOutlet]="templateErrorsOutside"
        [ngTemplateOutletContext]="{ errors }"></ng-container>
    </ng-template>

  </ddr-input-group>
  <!-- Option orientations BOTTOM -->
  @if (showItems && orientation == constants.ORIENTATION_DROPDOWN.BOTTOM) {
    <div
      class="ddr-dropdown__panel-items" 
      [ngClass]="{'ddr-dropdown__panel-items--touchUI': touchUI}" 
      [@overlayAnimationBottom]="{ value: 'visible' }">
      <ng-container [ngTemplateOutlet]="commonTemplate" />
    </div>
  }
  <!-- Common template orientation BOTTOM and TOP -->
  <ng-template #commonTemplate>
    <div ddrClickOutside (clickOutside)="hidePanelItems()">
      <div class="ddr-dropdown__panel-items--search">
        @if (showFilter && options.length > 0) {
          <input type="text" [(ngModel)]="filterInput" #search name="value" (keyup)="filter(search.value)"
            class="form-control ddr-dropdown__panel-items--search--input" [placeholder]="labelPlaceholderFilter | ddrTranslate" />
        }
      </div>
      @if (optionsShow.length === 0) {
        <div [ngClass]="{'ddr-dropdown__panel-items--no-results--no-filter': !showFilter}" class="ddr-dropdown__panel-items--no-results">
          <span>{{ labelNoResults || ('dropdown.no.results' | ddrTranslate) }}</span>
        </div>
      } @else {
        <ul [ngClass]="{'with-filter': showFilter}">

          @for (item of optionsShow; track item; let index = $index) {
            <li class="d-flex align-items-center cursor-pointer  ddr-dropdown__panel-items__item" [ngClass]="{'ddr-dropdown__panel-items__item--active': item.selected}" (click)="onSelectItem(item)">
              
              @if(itemTemplateOutside){
                <ng-container 
                  [ngTemplateOutlet]="itemTemplateOutside" 
                  [ngTemplateOutletContext]="{ item }"/>
              }@else{
                <ng-container 
                  [ngTemplateOutlet]="defaultItemTemplate" 
                  [ngTemplateOutletContext]="{ item }"/>
              }
              
              <ng-template #defaultItemTemplate let-item="item">
                {{ translate ? (item?.label | ddrTranslate) : item?.label }}
              </ng-template>
            </li>
          }
        </ul>
      }
    </div>
  </ng-template>
</div>
@if (touchUI && showItems) {
  <div class="ddr-overlay" (click)="hidePanelItems()"></div>
}